@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: calculateRem($size);
}

@mixin TransparentButton {
 
  a {
    background-color: transparent;
    color: $body-color;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 3;
    padding: 0;

    &:after {
      content: '';
      background-image: url('../images/icons/icon-arrow-left.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 33px;
      height: 15px;
      margin-right: 1rem;
      z-index: 1;
      transition: all 0.35s cubic-bezier(.2,.66,0,1.02);
      margin-bottom: 0.3rem;
    }

    &:before {
      content: '';
      width: 0;
      height: 10px;
      position: absolute;
      bottom: -1px;
      right: 0;
      z-index: -1;
      background-color: #2ae8a9;
      transition: all 0.35s cubic-bezier(.2,.66,0,1.02);
    }

    &:hover {
      text-decoration: none;
      box-shadow: none;
      
      &:after {
        margin-right: 0.7rem;
      }

      &:before {
        width: 100%;
      }
    }
  }
}

@mixin GreenButton {
  
  a {
    color: $body-color;
    background-color: $green;
    align-items: center;
    z-index: 3;
    position: relative;
    display: inline-flex;
    padding: 0.9rem 2.1rem;
    @include fontSize(18px);
    border-radius: 4px;
    transition: all 0.35s cubic-bezier(.2,.66,0,1.02);

    &:after {
      content: '';
      background-image: url('../images/icons/icon-arrow-left.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 33px;
      height: 15px;
      margin-right: 1rem;
      z-index: 1;
      transition: all 0.35s cubic-bezier(.2,.66,0,1.02);
    }

    &:hover {
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      text-decoration: none;
      padding-right: 2.4rem;
      
      &:after {
        margin-right: 0.7rem;
      }
    }
  }
}

@mixin greenLine {
  &:before {
    content: '';
    width: 70px;
    height: 7px;
    background-color: $green;
    position: absolute;
    left: unset;
    display: block;
    top: 0px;
  }
}

@mixin greenLineLeft {
  &:before {
    content: '';
    width: 70px;
    height: 7px;
    background-color: $green;
    position: absolute;
    right: unset;
    left: 0;
    display: block;
    top: 0px;
  }
}



$fix-mqs: false;
// Min width media queries
@mixin mq($name) {
  @if $fix-mqs {
    @if $fix-mqs >= map-get($breakpoints, $name) {
      @content;
    }
  }
  @else {
    @if not map-has-key($breakpoints, $name) {
      @warn "Warning: `#{$name}` is not a valid breakpoint name, get your shit together!";
    }
    @else {
      @media (min-width: map-get($breakpoints, $name)) {
        @content;
      }
    }
  }
}

// Use rarely, if at all: Max width media queries
@mixin mq-max($name) {
  @if $fix-mqs {
    @if $fix-mqs >= map-get($breakpoints, $name) {
      @content;
    }
  }
  @else {
    @if not map-has-key($breakpoints, $name) {
      @warn "Warning: `#{$name}` is not a valid breakpoint name, get your shit together!";
    }
    @else {
      @media (max-width: map-get($breakpoints, $name)) {
        @content;
      }
    }
  }
}