// Article: Teaser
// -----------------------------------------------------------------------------
.node-type-article {

  // navbar
  .navbar {
    will-change: transform;
    transition: all 200ms linear;

    .logo-addon {
      display: none;
    }

    .navbar--node-title {
      display: none;
    }

    .indicator {
      display: none;
    }

    .share-post {
      display: none;  
    }

    .block--useraccountmenu {
      display: none;
    }
  }
  
  .navbar.slideUp {
    transform: translateY(-100%);
  }
  
  .navbar.slideDown {
    transform: translateY(0%);
    box-shadow: 0 0 5px #e2e2e2;

    .logo-addon {
      display: block;
      margin-right: 1rem;
      font-size: 1.2rem;
      border-right: solid 1px #ccc;
      padding-right: 1rem;
    }
    
    .block--mainnavigation {
      display: none;

      @include mq-max(md){
        display: flex;
      }
    }

    .navbar--node-title {
      display: block;
      padding: 0.5rem 1rem;
      font-weight: 400;
      margin: 0 auto;
      font-weight: bold;

      @include mq-max(md){
        display: none;
      }
    } 

    .share-post {
      display: block;  
      
      @include mq-max(md){
        display: none;
      }
    } 

    .block--useraccountmenu {
      display: none;
    }

    .indicator {
      display: block;
    }

    .navbar-collapse {
      display: none !important;
    }
  }

  // top section
  .article--top-section {
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #e8e8e8;

    @include mq-max(md){
      flex-direction: column;
    }
  }

  .article--title {
    max-width: 450px;
    font-weight: bold;
    
    h1 {
      position: relative;
      @include fontSize(45px);
      line-height: 1.5;
      @include greenLine;
      padding-top: 20px;

      @include mq-max(sm) {
        font-size: 1.8rem;
      }
    }

    @include mq(xxl) {
      margin-right: auto;
    }

    @include mq-max(ld) {
      flex-basis: 50%;
    }

    @include mq-max(md) {
      flex-basis: 100%;
      max-width: unset;
      margin-bottom: 4rem;
    }
  }

  .article--image {
    margin-right: auto;

    @include mq(xxl) {
      margin-left: auto;
    }

    @include mq-max(ld) {
      flex-basis: 50%;
    }

    @include mq-max(md) {
      flex-basis: 100%;
      margin-right: unset;
    }
  }
  
  // article main section
  .top-section--details {
    margin-top: 12rem;
    display: flex;
    align-items: center;
    width: 100%;

    @include mq-max(sm) {
      margin-top: 6rem;
    }

    .author-date {
      display: flex;
      align-items: center;
      
      img {
        width: 25px;
      }

      @include mq-max(sm) {
        display: none;
      }
    }

    .author-name {
      margin-right: 0.3rem;
    }

    .social-share {
      margin-right:  auto;
    }
  }

  .article--main-section {
    max-width: 860px;
    padding: 0 2rem;
    margin: 4rem auto;

    @include mq(xxl) {
      max-width: 960px;
    }

    @include mq-max(sm) {
      padding: 0;
    }
  }

  .article__body {

    p {
      font-size: 1.1rem;
      line-height: 2.2;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 1.5rem;
    }

    a {
      color: #3f46ae;
      display: inline-flex;
      flex-direction: column;
      position: relative;
      z-index: 2;
      border-bottom: solid 1px #3f46ae;
      line-height: 1.4;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .article--tags {
    display: flex;
    flex-wrap: wrap;

    .badge{
      background: none;
      color: $body-color;
      font-size: 1.1rem;
      font-weight: normal;
      margin-left: 1rem;
      transition: all 0.2s ease-in;

      &:hover {
        color: $blue;
      }

      &:before {
        content: "#";
      }
    }
  }

  // bottom section
  .article--botton-section {
    border-top: 2px solid #e8e8e8;
    padding-top: 1rem;
    margin-bottom: 8rem;
  }

  .related--title {
    margin: 4rem 0;

    h1 {
      font-size: 1.5rem;
      font-weight: 300 !important;

      strong {
        font-weight: 100 !important;
      }

      span {
        font-weight: bold;
      }
    }
  }

  .article__field-content-reference {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    >.field__item {
      flex-basis: 30%;
      position: relative;
      transition: all .42s cubic-bezier(.165,.84,.44,1);
      display: flex;
      max-width: 350px;

      @include mq-max(md){
        flex-basis: 100%;
        margin-bottom: 4rem;
        margin-right: auto;
        margin-left: auto;
      }

      .layout--onecol {
        background-color: $white;
        padding: 2rem;
        position: relative;
        z-index: 2;
      }

      &:before {
        content: '';
        background-image: url('../images/bg/doty.svg');
        background-repeat: no-repeat;
        width: 43%;
        height: 55%;
        position: absolute;
        top: -8rem;
        right: -4rem;
        z-index: 1;
        background-position: center;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        opacity: 0;
        @include mq-max(sm){
          display: none;
        }
      }

      &:after {
        content: '';
        background-image: url('../images/bg/blog-shape-2.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 57%;
        height: 36%;
        position: absolute;
        bottom: -5rem;
        left: -2rem;
        z-index: 1;
        background-position: center;
        -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        opacity: 0;
        transform: rotate(11deg);

        @include mq-max(sm){
          display: none;
        }
      }

      &:hover {
        box-shadow: 0 0 40px rgba(0, 101, 255, 0.12);      

        &:before {
          opacity: 1;
        }

        &:after {
          opacity: 1;
        }
      }

      &:nth-child(2) {

        &:before {
          display: none;
        }

        &:after {
          content: "";
          background-image: url(../images/bg/blog-shape.png);
          background-repeat: no-repeat;
          background-size: contain;
          width: 80%;
          height: 45%;
          position: absolute;
          bottom: 5rem;
          left: -4rem;
          z-index: 1;
          background-position: center;
          -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transform: rotate(90deg);
        }
      }

      &:nth-child(3) {

        &:before {
          display: none;
        }
        
        &:after {
          content: "";
          background-image: url('../images/bg/blog-shape-1.png');
          background-repeat: no-repeat;
          background-size: contain;
          width: 64%;
          height: 46%;
          position: absolute;
          bottom: 4rem;
          right: -5rem;
          z-index: 1;
          background-position: center;
          transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transform: rotate(90deg);
        }
      }
    }

    h6 {
      margin: 1.5rem 0;
      line-height: 1.5;
      font-size: 1.2rem;

      a {
        color: $body-color;
      }
    }

    .article__body {
      line-height: 1.9;
    }
  }

}

// Article: Full
// -----------------------------------------------------------------------------
.article--full {

}


// comments 
.article--comments {
  margin-top: 4rem;

  ::placeholder { 
    color: rgba($body-color , 0.4);
  }
  
  :-ms-input-placeholder { 
    color: rgba($body-color , 0.4);
  }
  
  ::-ms-input-placeholder { 
    color: rgba($body-color , 0.4);
  }

  .row {
    margin: 0;
    margin-top: 1.5rem;
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
  }

  .add-title {

    h3 {
      font-size: 1.5rem;
      margin: 1rem 0;
    }
  }

  .user--compact {
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5rem 0;
    border-bottom: solid 1px $blue;
    display: inline;
  }

  .comment--body {
    background-color: #f5f5f5;
    padding: 1rem 1rem;
    border-radius: 5px;
  }

  .comment-top {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .comment__comment-body {
    line-height: 2.3;
    
    p {
      line-height: 2.3;
    }
  }

  .links.inline {
    justify-content: flex-end;

    a {
      background-color: transparent;
      border-radius: 5px;
      color: $body-color;
      display: flex;
      align-items: flex-end;
      position: relative;
      z-index: 3;
      padding: 0.3rem 1.4rem;
      transition: all 0.25s ease-in-out;
      font-weight: bold;
      margin: 0 0.5rem;

      &:hover {
        background-color: $white;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        color: $blue;
      }
    }
  }

  .comment-bottom {
    line-height: 1.8;
  }

  .indented {
    
    .comment--body {
      background-color: #fbfbfb;
      border-radius: 0;
      margin-right: 10%;
    }
    
    .row {
      margin-top: 0;
    }
  }
  
  .comment-comment-form {
    width: 100%;
  }
  
  label {
    display: none;
  }

  .form-control {
    font-size: 1.1rem;
    line-height: normal;
    padding: .75rem;
    border: 1px solid transparent;
    background: #f5f5f5;
    border-radius: .25rem;
    appearance: none;
    outline: 0;
    margin: 0 0 .5rem;
    height: auto;

    &:focus {
      border-color: #c3d9ff;
    }
  }

  #edit-name {
    max-width: 360px;
  }

  .filter-wrapper {
    display: none;
  }
}
