// general block style 
// --------------------------------------------
  .block--block-with-links {
    text-align: left;
    position: relative;
    @include greenLine;

    h1 {
      @include fontSize(50px);

      @include mq-max(lg) {
        font-size: 2rem;
      }
    }

    h2 {
      @include fontSize(30px);
      margin-bottom: 1rem;  
      line-height: 1.6;
      margin-top: 20px;
    }
    
    p {
      font-size: $font-size-lg;
      font-weight: 300;
      line-height: 1.9;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 3rem;

      .btn {
        display: flex;
        padding: 0;
        border: none;

        a {
          display: flex;
          color: $white;
          background-color: $blue;
          padding: 0.9rem 2.1rem;
          @include fontSize(18px);
          border-radius: 4px;
          transition: all 0.35s cubic-bezier(.2,.66,0,1.02);
        }

        &:hover {
          
          a {
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            text-decoration: none;
          }
        }

        &.green {
          @include GreenButton;
        }

        &.transparent {
          background-color: transparent;
          @include TransparentButton;
            
          &:hover {
            box-shadow: none;

            a {
              box-shadow: none;
            }
          }
        }
      }

      .second-button {
        @include TransparentButton;
        margin-right: 2rem;
      }
    }

    .block-with-links__body {
      margin-top: 20px;
    }

    &.background--blue {
      background-color: $blue;
      color: $white;
      padding: 20% 7%;
      margin-top: -10rem;
      box-shadow: 0 40px 45px -18px rgba(0,101,255,0.40);
      position: relative;

      h2 {
        position: relative;

        &:before {
          content: '';
          width: 70px;
          height: 7px;
          background-color: $green;
          position: absolute;
          left: 0;
          top: -20px;
        }
      }

      p {
        @include fontSize(20px);
      }

      &:after {
        content: '';
        width: 100%;
        height: 100%;
        border: solid 2px #0046B2;
        position: absolute;
        left: -1rem;
        top: -1rem;
      }

      &:before {
        display: none;
      }
    }

    &.right-to-left {
      direction: rtl;
      text-align: right;

      &:before {
        left: unset;
        right: 0 !important;
      }

      .buttons {
        justify-content: flex-start;
      }
    }

    &.left-to-right {
      @include greenLineLeft;
    }

    &.center {
      direction: rtl;
      text-align: center;

      .buttons {
        justify-content: center;
      }

      &:before {
        display: none;
      }
    }

    &.block--inline-link {
      position: relative;

      .buttons {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0;

        @include mq-max(sm) {
          position: relative;
          margin-bottom: 3rem;
        }
      }
    }
  }

  .block--block-icon-text {
    display: flex;
    align-items: flex-start;
    margin: 2rem 0;
    flex-basis: 31.33%;
    
    .block-icon-text__field-icons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 60px;
      margin-left: 0.5rem;
    }

    p {
      font-weight: 300;
      line-height: 1.9;
    }

    img {
      border: none;
      background-color: transparent;
      width: 100%;
      padding: 0;
    }

    @include mq-max(lg) {
      flex-basis: 100%;
    }
  }

  .block--block-plans {
    width: 100% !important;
    flex-basis: 100% !important;
    position: relative;
    margin-top: 7rem;

    h2 {
      @include fontSize(35px);
      margin-bottom: 1rem;

      @include mq-max(ld) {
        font-size: 2rem;
      }

      @include mq-max(lg) {
        margin-bottom: 3rem;
      }
    }

    .block-plans__field-push-notification {
      display: flex;
      flex-direction: column;
    }

    .block-plans__field-button {
      margin-top: 4rem;
      text-align: left;
      @include GreenButton;

      @include mq-max(ld) {
        margin-top: 9rem;
      }

      @include mq-max(lg) {
        margin-top: auto;
      }
    }

    @keyframes fadeUp {
      0% {
        opacity: 0;
        transform: translateY(5%);
      }
      100% {
        opacity: 1;
        transform: translateY(0%);
      }
    }

    .plan__field-features {
      position: absolute;
      top: 0;
      right: 30%;
      padding-top: 2rem;
      padding-bottom: 3rem;
      padding-right: 7%;
      margin-right: 7%;
      border-right: solid 2px #D8D8D8;
      opacity: 0;
      transition: all 0.2s ease;

      .top {
        opacity: 0;
      }
    
      .feature__field-body {
        opacity: 0;
      }
    
      &.active {
        opacity: 1;

        .top {
          animation: fadeUp 0.25s 0.2s ease-in-out forwards;
        }

        .feature__field-body {
          animation: fadeUp 0.25s 0.3s ease-in-out forwards;
        }
      }

      @include mq-max(lg) {
        right: 0;
        padding-right: 0; 
        margin-right: 0;
        border-right: none;
        border-top: solid 2px #D8D8D8;
        margin-top: 12rem;
      }

      @include mq-max(sm) {
        margin-top: 9rem;
      }
    }

    @include mq-max(lg) {
      order: 6;
      min-height: 770px;
      display: flex;
      flex-direction: column;
    }

    @include mq-max(sm) {
      min-height: 870px;
    }
  }

  .block--platform {
    background-color: $white;
    border-radius: 5px;
    padding: 2rem 1.5rem;
    text-align: left;
    position: relative;
    transition: transform 0.5s;

    .platform__field-media {
      position: absolute;
      top: -1.5rem;
      left: 1.5rem;
      max-width: 45px;
    }

    .platform__field-paragraph {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 1rem 0;

      .field__item {
        flex-basis: 20%;
        width: 20%;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &:nth-child(1) {
          margin-right: auto;
        }
      }
    }

    .platform__field-plain-text {
      font-family: $font-family-english;
      font-weight: bold;
    }

    &:hover {
      transform: translateY(-5%);
    }

    @include mq-max(lg) {
      flex-basis: 100% !important;
      margin: 0 auto;
      margin-bottom: 3rem;
      max-width: 400px;
    }
  }

  .block--block-list {
    background-color: $bg;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 4rem;
    position: relative;

    .block-list__field-media {
      position: absolute;
      top: -23px;
      left: 4 rem;
      max-width: 50px;
    }

    .block-list__field-plain-text {
      font-family: $font-family-english;
      font-weight: bold;  
      @include fontSize(42px);
      line-height: 2.625rem;
      text-align: left;
      padding-bottom: 2.5rem;
      margin-bottom: 2.5rem;
      border-bottom: solid 1px #888A8D;

      @include mq-max(ld) {
        font-size: 2rem;
      }
    }

    .paragraph--type--icon-text {
      margin-bottom: 1.5rem;

      .icon-text__field-image {

        .image__field-media-image {
          width: 45px;
          display: flex;
          justify-content: center;
        }
      }
    }

    @include mq-max(md) {
      padding: 2.5rem 2rem;
    }
  }

  .block--percentage {
   
    .block-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 350px;
      background-color: $white;
      border-radius: 5px;
      box-shadow: 8px 12px 40px 0px rgba(0, 101, 255, 0.19);
      padding: 2rem 3rem;
      position: relative;

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: $white;
        border-radius: 5px;
        box-shadow: 8px 12px 40px 0px rgba(0, 101, 255, 0.19);
        position: absolute;
        right: -8%;
        bottom: -8%;
        z-index: -1;
      }
    }

    .number {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-bottom: 2rem;
    }

    svg {
      width: 150px;
      height: 150px;
    }

    .percentage__field-plain-text {
      position: absolute;
      font-weight: bold;
      @include fontSize(25px);

      &:after {
        content: '%';
      }
    }

    .percentage__body {

      p {
        @include fontSize(28px);
      }
    }

    @include mq-max(md) {
      margin-bottom: 8rem !important;
      
      .block-content {
        margin: 0 auto;
      }
    }
  }

  .block--pricing {
    background-color: $white;
    border-radius: 5px; 
    padding: 4rem 3rem;
    border: solid 1px transparent;
    transition: all 0.25s ease;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,.11);

    @include mq-max(md) {
      margin-bottom: 3rem;
    }
    
    .pricing__field-plain-text {
      @include fontSize(35px);
      font-weight: bold;
      margin-bottom: 1rem;
      text-align: center;
    }

    .pricing__field-plain-text-second {
      font-weight: bold;   
      font-size: 1.1rem;
      margin: 2rem 0;
      text-align: center;
    }

    .pricing__field-button {
      margin: 3rem 0;
      text-align: center;

      a {
        background-color: $blue;
        color: $white;
        font-weight: bold;
        padding: 0.9rem 3.7rem;
        border-radius: 5px;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        display: inline-flex;

        &:hover {
          text-decoration: none;
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        }
      }
    }

    .pricing__body {
      text-align: center;

      ul {
        list-style: none;
        padding: 0;
        font-size: 12px;
        font-weight: bold;
      }

      li {
        margin-bottom: 0.5rem;
      }
    }

    &:hover {
      box-shadow: none;
      border: solid 1px $dark-blue;

      .pricing__field-button {
  
        a {
          background-color: $dark-blue;
        }
      }
    }
  }

// front page blocks
// --------------------------------------------
  .block--hero {
    width: 39.450rem;
    padding-right: 5%;
    position: relative;
    z-index: 9;
    max-width: 100%;

    @include mq-max(md) {
      position: absolute;
      top: 30%;
    }

    h1 {
      margin-bottom: 2rem;
      line-height: 1.6;
    }

    i.alter-text {
      display: none;
    }

    .extra-text {
      margin: 0 2rem;
    }

    &:before {
      display: none;
    }

    @include mq(xxl) {
      margin-right: 15%;
    }
  }

  .block--heroimage {
    position: absolute;
    width: 65%; 
    left: 0;
    background-image: url('../images/bg/hero.png');
    background-size: 100%;

    #text path {
      opacity: 0;
    }

    #notification1,
    #notification2,
    #notification3 {

      path {
        opacity: 0;
      }
    }

    #cloud1 {
      transform: translateX(-120px); 
    }

    @include mq-max(ld) {
      width: 100%;
      bottom: 0;
      opacity: 0.6;
    }

    @include mq-max(md) {
      opacity: 1;
    }
  }

  .block--clients {

    .views__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      direction: ltr;
    }

    .slick-dots {
      display: none !important;
    }

    .slick-track {
      display: flex;
      align-items: center;
    }

    .slick-list {
      width: 100%;
      overflow: hidden;
    }

    .views-field-field-images {
      text-align: center;
    }

    img {
      max-height: 85px;
      width: 100%;
      max-width: 160px;
      border: none;
      filter: grayscale(1);
    }
  }

  .block--blog {
    position: relative;

    h2 {
      position: relative;
      @include fontSize(35px);
      @include greenLine;

      &:before {
        top: -20px;
      }
    }

    .views__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      @include mq-max(md) {
        margin-top: 3rem;
      }
    }

    header {
      @include fontSize(16px);
      margin-top: 1rem;
      margin-bottom: 3rem;
    }

    .views-row {
      display: flex;
      align-items: center;
      flex-basis: 47%;
      width: 50%;
      margin-bottom: 2rem;
      transition: all 0.2s ease-out;
      position: relative;

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-image: url('../images/bg/bg-blog-dots.svg');
        background-size: cover;
        position: absolute;
        transition: all 0.2s ease-out;
        display: block;
        top: -18px;
        bottom: auto;
        left: -18px;
        z-index: -1;
      }

      &:hover {
        box-shadow: 0 6px 32px rgba(0,0,0,0.08);
        background-color: $white;
        transform: translate3d(-4px,-4px,0);
        cursor: pointer;
        
        &:before {
          top: 0px;
          left: 0px;
        }
      }

      &:nth-child(1) {

        &:before {
          top: unset;
          left: unset;
          bottom: -18px;
          right: -18px;
          z-index: -1;
          transform: rotate(-180deg);
        }

        &:hover {
          transform: translate3d(4px,4px,0);

          &:before {
            right: 0px;
            bottom: 0px;
          }
        }
      }
      
      @include mq-max(lg) {
        flex-basis: 100%;
        width: 100%;
        margin-bottom: 4rem;
        box-shadow: 0 6px 32px rgba(0,0,0,0.08);

        &:after,
        &:before {
          display: none;
        }
      }

      @include mq-max(sm) {
        flex-direction: column;
      }
    }
    
    .views-field-field-images {

      img {
        width: 100%;
      }

      margin-left: 1rem;

      .field-content {
        overflow: hidden;
        transition: all 0.42s cubic-bezier(0.165, 0.84, 0.44, 1);

        img {
          border: none;
          background: none;
          object-fit: cover;
          height: 100%;
        }
      }

      @include mq-max(sm) {
        margin-left: 0;
      }
    }

    .right {
      background-color: #f9fbfd;
    }

    .left {
      padding-left: 2rem;
      min-height: 150px;
      display: flex;
      flex-direction: column;
      background-color: #f9fbfd;
      flex: 1;

      @include mq-max(sm) {
        flex-direction: column;
        padding: 1rem;
      }
    }

    .views-field-created {
      color: #A5A5A5;
      @include fontSize (14px);
      margin-top: auto;
      margin-bottom: 0.5rem;
    }

    .views-field-title {
      
      a {
        color: $body-color;
        line-height: 1.9;
      }
    }

    .views-field-view-node {
      margin: auto 0;
      text-align: left;
    }

    .more-link {
      position: absolute;
      top: 0;
      left: 0; 
      @include TransparentButton;

      @include mq-max(sm) {
        display: none;
      }
    }
  }

  .block--talking-app {

    &:before {
      left: 2rem;
    } 

    @include mq-max(lg) {
      order: 1;
    }

    @include mq-max(md) {
      margin-bottom: 3rem;
    }
  }

  .block--analyst {

    &.right-to-left:before {
      right: 2rem !important;
    }

    @include mq-max(lg) {
      order: 4;
    }

    @include mq-max(md) {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }

  .block--platformstitle {
    margin-bottom: 4rem;

    .block-with-links__body {
      margin-top: 0;
    }
  } 

  .block--push-front {
    max-width: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    
    .push-notification__field-paragraph {
      width: 100%;
      min-height: 540px;
      padding-top: 5rem;
    }

    .push-notification__field-paragraph >.field__item {
      background-color: $white;
      border-radius: 5px;
      box-shadow: 0px 8px 20px 2px rgba(0, 101, 255, 0.1);
      display: flex;
      flex-direction: column;
      max-width: 400px;
      position: absolute;
      opacity: 0;
      transition: all 0.3s;

      &.active {
        opacity: 1;
        z-index: 9;

        @keyframes scaleIn {
          0% {
            opacity: 1;
            filter: blur(0);
            transform: scale(0.9) translateY(15%);
          }

          100% {
            opacity: 1;
            filter: blur(0);
            transform: scale(1) translateY(0%);
          }
        }

        @keyframes slide {
        
          0% {
            transform: translateX(0);
            opacity: 1;
          }
          
          100% {
            transform: translateX(-50%);
            opacity: 0;
          }
        }

        @keyframes blur {
        
          0% {
            filter: blur(0);
          }
          
          100% {
            filter: blur(2px);
          }
        }

        animation: scaleIn 0.4s cubic-bezier(.2,.66,0,1.02) 0s forwards , slide 0.5s cubic-bezier(.2,.1,0,1.02) 3s forwards , blur 0.2s ease 3s forwards;;
      }

      &.pre-active {

        @keyframes preSlide {
          0% {
            transform: scale(0.9) translateY(30%);
            opacity: 0;
          }
          100% {
            transform: scale(0.9) translateY(15%);
            opacity: 1;
          }
        }
        animation: preSlide 0.4s ease-in-out 0s forwards;
      }

      @include mq-max(lg) {

      }
    }

    @include mq(xxl) {
      padding-right: 12rem !important; 
    }

    @include mq-max(lg) {
      max-width: 400px;
      order: 3;
      position: absolute;
      top: 15rem;
    }

    @include mq-max(sm) {
      max-width: 370px;
      top: 20rem;
    }
  }

  .block--allplatforms,
  .block--rapiddev,
  .block--readyscalable {
    padding-left: 1.3rem;

    .block-icon-text__field-icon {
      margin-left: 0.5rem;
      margin-top: 0.3rem;
      max-width: 50px;
    }
  }

  .block--statistics {
    padding-right: 7%;
    position: relative;

    @include mq-max(sm){
      padding-right: 0;
      flex-basis: 100% !important;
      width: 100% !important;
    }

    .field__item {
      margin-bottom: 3rem;
      text-align: right;
      position: relative;

      &:after {
        content: '';
        width: 0; 
        height: 0; 
        position: absolute;
        right: 0;
        bottom: -20px;
        border-left: 20px solid transparent;
        border-right: 0px solid transparent;
        border-top: 20px solid $blue;
      }

      &:nth-child(2n+1) {
        text-align: left;

        &:after {
          right: unset;
          left: 0;
          bottom: -20px;
          border-left: 0px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid $blue;
        }

        &:nth-child(1) {
          margin-left: 3rem;
        }
      }
    }

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background-image: url('../images/bg/doty.svg');
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.2;
      position: absolute;

      @include mq-max(xl) {
        left: 0;
      }
    }

    @include mq(xxl) {
      padding-right: 12%;
    }
  }

  .block--beananalystimage {
    margin-top: 5rem;
    
    svg {
      width: 100%;
    }

    @include mq-max(lg) {
      order: 5;
    }
  }

  .block--beananalyst {
    margin-top: 5rem;
  }

  .block-plans__field-paragraph {

    >div.field__item {

      &:nth-child(2),
      &:nth-child(3) {

        .button.active {
          background-color: $green;
        }
      }

      &:nth-child(1) {

        .button.active {
          color: $white;

          img {
            filter: brightness(0) invert(1);
          }

          a {
            color: $white; 

            &:after {
              filter: brightness(0) invert(1);
            }
          }

          .plan__field-plain-text-second {
            
            &:after {
              filter: brightness(0) invert(1);
            }
          }
        }
      }

      @include mq-max(lg) {
        flex-basis: 33.33%;
      }
    }

    @include mq-max(lg) {
      display: flex;
    }
  }
// --------------------------------------------

// inner page
// --------------------------------------------

  // general hero
  .block--inner-page-header {
    margin: 0 auto;
    left: 0;
    max-width: 50%;

    @include mq-max (md) {
      max-width: unset;
    }

    img {
      max-width: 1000px;
      height: auto;
      max-height: 500px;
      width: auto;

      @include mq-max (xl) {
        max-width: 100%;
      }
    }
  }

  // about page
  .block--heroImage-about {
    width: 100%;
    height: 100%;

    video {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    @include mq-max(lg) {
      margin-top: 60px;
    }
  }

  .block--hero-about {
    position: absolute;
    left: 0;
    z-index: 2;
    margin-right: auto;
    padding-left: 20%;

    &:before {
      display: none !important;
    }

    h2 {  
      @include fontSize(50px);

      span {
        color: $blue;
      }
      

      @include mq-max(lg) {
        font-size: 2.125rem;
      }

      @include mq-max(sm) {
        font-size: 1.5rem;
      }
    }

    p {
      @include fontSize(33px);

      @include mq-max(lg) {
        font-size: 1.5625rem;
      }

      @include mq-max(sm) {
        font-size: 1.3rem;
      }
    }

    @include mq-max(sm) {
      display: none;
    }
  }

  .block--timeline {

    img {
      width: 100%;
      height: auto;
    }
  }

  .block--organization {
    position: absolute;
    max-width: 55%;
    padding: 6rem 2rem 4rem 2rem;

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      margin-bottom: 1rem;
    }
    
    p {
      @include fontSize(15px);
    }

    @include mq-max(ld) {
      max-width: 43%;
    }

    @include mq-max(sm) {
      max-width: 100%;
    }
  }

  .block--integrity {
    background-color: $blue;
    color: $white;
    margin-top: auto;
    padding: 7rem 2rem 7rem 2rem;
    position: relative;

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      margin-bottom: 1rem;
      font-family: 'Source Code Pro', monospace;
      font-weight: normal;
      direction: ltr;
      @include fontSize(50px);
      position: relative;
      
      &:before {
        content: '';
        display: block;
        width: 80px;
        height: 8px;
        background-color: $white;
        position: absolute;
        left: 0;
        top: -20px;
      }

      @include mq-max(ld) {
        font-size: 2.125rem;
      }

      @include mq-max(lg) {
        font-size: 2rem;
      }
    }
        
    p {
      @include fontSize(50px);
      font-family: 'Source Code Pro', monospace;
    }

    .buttons {
      position: absolute;
      right: 2rem;
      bottom: 1.5rem;

      a {
        color: $white !important;  

        &:after {
          background-image: url('../images/icons/icon-arrow-left-white.svg') !important;
        }
      }
    }
  }

  .block--images-medium {
    flex-basis: 49%;

    img {
      width: 100%;
      height: auto;
    }

    @include mq-max(sm) {
      flex-basis: 100%;
    }
  }

  .block--interaction {
    background-color: #F4F7FB;
    text-align: left;
    padding: 6rem 2rem 4rem 2rem;

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      margin-bottom: 1rem;
    }

    .m__field-media {
      display: flex;
      justify-content: flex-end;
      margin-left: -3rem;

      @include mq-max(ld) {
        margin-left: 0;
      }
    }
        
    p {
      @include fontSize(15px);
      line-height: 1.9;
    }
  }

  .block--learning {
    background-color: $body-color;
    color: $white;
    padding: 2rem;
    display: flex;
    align-items: center;

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      margin-bottom: 1rem;
    }
        
    p {
      @include fontSize(15px);
    }
  }

  .block--gentility {
    background-color: $bg;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-basis: 42%;

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      margin-bottom: 1rem;
    }
        
    p {
      @include fontSize(15px);
    }

    @include mq-max(sm) {
      flex-basis: 100%;
    }
  }

  .block--quality {
    background-color: $green;
    display: flex;
    align-items: center;
    padding: 2rem;
    text-align: left;

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      margin-bottom: 1rem;
    }
        
    p {
      @include fontSize(15px);
      line-height: 1.9;
    }

    .m__field-media {
      min-width: 13rem;
      margin-right: -3rem;
      margin-left: 2rem;

      @include mq-max(sm) {
        margin-right: 0rem;
        margin-left: 0rem;
        margin-bottom: 2rem;
      }
    }

    @include mq-max(sm) {
      flex-direction: column;
    }
  }

  .block--images-large {
    flex-basis: 56%;

    img {
      width: 100%;
    }

    @include mq-max(sm) {
      flex-basis: 100%;
    }
  }
  
  .block--what-we-do {
    background-color: $white;
    padding: 2rem 5rem;
    position: relative;

    .block-list__field-media {
      left: unset;
      right: 5rem;
    }

    .block-list__field-plain-text {
      @include fontSize(30px);
      font-family: $font-family-base;
      border: none;
      padding-bottom: 0rem;
      margin-bottom: 1rem;
      text-align: right;
    }

    &:nth-child(1) {
      
      &:before {
        content: "";
        width: 200px;
        height: 200px;
        background-image: url('../images/bg/doty.svg');
        background-size: cover;
        position: absolute;
        left: -5rem;
        bottom: -5rem;
        opacity: 0.4;

        @include mq-max(sm) {
          display: none;
        }
      }
    }

    @include mq-max(lg) {
      padding: 2rem 2rem;
    }
  }

  .block--views-block--team-members-block-1 {

    >h2 {
      text-align: center;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      @include greenLine;
      padding-top: 20px;

    }

    header {
      width: 100%;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 4rem;
    }

    .views__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: left;
      direction: ltr;

      @include mq-max(md) {
        justify-content: space-around;
      }
    }

    .views-row {
      flex-basis: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;

      &:hover {

        .team-members__field-images {
         
          .field__item {
            
            &:nth-child(2) {
              opacity: 0;
            }
          }
        }
      }
    }

    .team-members__field-images {
      position: relative;
      height: 277px;
      min-width: 250px;

      .field__item {
        position: absolute;
        opacity: 1;
        transition: all 1s ease;
       
        picture {
          display: flex; 
        }

        img {
          min-width: 250px;
        }
      }
    }

    .title {
      margin-top: 2rem;
      @include fontSize(20px);
      position: relative;

      &:before {
        content: '';
        width: 20px;
        height: 3px;
        background-color: $green;
        position: absolute;
        left: 0;
        top: -11px;

        @include mq-max(md) {
          top: -11px;
        }
      }
    }

    .team-members__field-plain-text {
      font-family: $font-family-english;
      font-weight: 100;
      
      &.last {
        font-family: $font-family-base;
        direction: rtl;
      }
    }
  }

  // product page
  .block--how-it-works {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 2rem;
    @include greenLine;

    h3 {
      @include fontSize(35px);
    }

    .block-with-paragraph__body {
      margin-top: 20px;
    }
    
    .block-with-paragraph__field-paragraph {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 12%;
      margin-top: 5rem;
      direction: ltr;

      @include mq-max(sm) {
        padding: 0;
        flex-direction: column;
        margin: 0;
        margin-top: 2rem;
        
        >div.field__item {
          margin-bottom: 2rem;
        }
      }
    }

    .field__item {
      position: relative;

      &:after {
        content: "";
        width: 14rem;
        height: 5rem;
        background-image: url('../images/bg/steps-arrow.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: -125%;
        top: 0;

        @include mq-max(ld) {
          width: 10rem;
          height: 2rem;
        }
      }

      &:nth-last-child(1) {

        &:after {
          display: none;
        }
      }
    }
  }

  .block--block-feature { 
    position: relative;

    h3 {
      margin-bottom: 3rem;
    }

    .icon-text__field-image {
      width: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:before {
      content: '';
      width: 70px;
      height: 7px;
      background-color: $green;
      position: absolute;
      right: 0;
      top: -20px;
    }
  }
  
  .block--code-sample {
    width: 100%;
    display: flex;
    flex-basis: 100% !important;
    width: 100% !important;
    position: relative;
    margin-bottom: 10rem;
    padding-top: 4rem;

    @include mq-max(md) {
      margin-bottom: 17rem !important;
    }

    .code-sample__body {
      flex-basis: 45%;

      p {
        font-size: $font-size-lg;
        font-weight: 300;
        line-height: 1.9;
      }
    }

    .buttoms {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;

      @include mq-max(lg) {
        bottom: 1rem;
      }

      @include mq-max(sm) {
        bottom: 6rem;
      }
    }

    .os__field-plain-text {
      font-family: $font-family-english;
      padding: .5rem 1.5rem;
      border-radius: 5px;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      margin-left: .6rem;

      &:hover {
        box-shadow: 0 0 21px 0 rgba(#0065FF , .2);
      }

      &.active {
        box-shadow: 0 0 21px 0 rgba(#0065FF , .2);
      }
    }

    .samples {
      display: none;
      flex: 1;
      justify-content: flex-end;
      height: 100%;

      &.active {
        display: flex;
      }

      @include mq-max(sm) {
        margin-top: 3rem;
      }
    }

    .os__field-features {
      display: flex;

      >div.field__item {
        margin-right: 1rem;
      }

      .field__item {
          
        &.active {

          .code-sample__field-plain-text {
            color: $blue;
            border-color: $blue;
          }

          .code-sample__field-code-sample {
            display: block;
            width: 50%;

            @include mq-max(lg) {
              width: 100%;
            }
          }
        }
      }
    }

    .code-sample__field-plain-text {
      margin-bottom: 0.5rem;
      border-top: solid 3px transparent;
      padding-top: 0.3rem;
      transition: all .3s ease-in-out;
    }
    
    .code-sample__field-code-sample {
      position: absolute;
      left: 0;
      display: none;

      pre {
        font-size: 100%;
      }
    }
    
    @include mq-max(lg) {
      flex-direction: column;
      margin-bottom: 15rem;
    }
  }

  .block--laptop-image {
    position: absolute;
    left: 0;
    margin-top: 7rem;
    width: 35% !important;

    @include mq-max(md) {
      display: none;
    }
  }

  .block--userwillcomeback {
    flex-basis: 100% !important;
    padding-left: 35%;

    @include mq-max(md) {
      padding-left: 0;
    }
  }

  .block--whatever-you-like {
    background: none;

    .block-list__field-plain-text {
      font-family: $font-family-base;
      border: none; 
      position: relative;

      &:before {
        content: '';
        width: 70px;
        height: 7px;
        background-color: $green;
        position: absolute;
        left: 0;
        top: -20px;
      }
    }

    .block-list__field-paragraph {

      .field__item {
        display: flex;

        &:nth-child(2n+1) {
          
          .paragraph {
            margin-right: auto;
            justify-content: flex-end;

            &:after {
            right: unset;
            left: 0;
            bottom: -15px;
            border-left: 0px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid $white;
            }

          }
        }
      }
    }

    .paragraph--type--icon-text {
      background-color: $white;
      display: inline-flex;
      padding: 1.2rem 1rem;
      position: relative;
      font-size: 1rem;

      .image__field-media-image {
        width: 25px !important;
      }

      &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 0;
        bottom: -15px;
        border-left: 15px solid transparent;
        border-right: 0px solid transparent;
        border-top: 15px solid $white;
      }
    }

    .icon-text__field-image {
      position: absolute;
      top: -10px;
      border: none !important;
    }
  }

  // pushe plus
  .block--block-testimonials {
    margin: 2rem 0;
    padding: 4rem 0;

    .slick-slider {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .slick-track {
      display: flex;
      align-items: center;
    }

    .slick-list {
      width: 100%;
      overflow: hidden;
    }
  }

  // faq page
  .block--block-faq { 
    position: relative;

    .block-faq__field-plain-text {
      @include fontSize(20px);
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      border-bottom: 2px solid #e8e8e8;
      font-weight: bold;
      top: 10%;
    }

    .block-faq__field-paragraph {
      max-width: 760px;
      padding: 0 2rem;
      margin: 4rem auto;
    }

    .field__item {
      margin-bottom: 1rem;
    }
  }

  // pricing page
  .block--pricingdetails {
    flex-basis: 100% !important;
    width: 100%;
    padding: 4rem 0;

    .plans-fixed {
      display: flex;
      position: sticky;
      z-index: 2;
      top: 0;
    }

    .plan-name {
      border: 1px solid #e6e6e6;
      width: 150.5px;
      font-size: 1.1rem;
      font-weight: bold;
      padding: 2.3rem 0;
      text-align: center;
      background-color: $white; 

      &:nth-child(1),
      &:nth-child(2) {
        border-left: none;
      }

      &:nth-child(1) {
        width: 150px;
        margin-right: auto;
      }
    }
  }

// --------------------------------------------

// sidebar
// --------------------------------------------
  .sidebar--blog {
    margin-bottom: 3rem;
    
    h2 {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }

    .views-row {
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
    }

    a {
      color: $body-color;
      font-size: 0.95rem;
      line-height: 1.9;
      position: relative;
      text-indent: 20px;
      direction: rtl;
      display: block;
      transition: all 0.2s ease-in-out;
      font-weight: bold;

      &:hover {
        color: $dark-blue;
        text-decoration: none;
        text-indent: 21px;
      }

      &:before {
        content: '';
        width: 12px;
        height: 12px;
        background-image: url('../images/icons/icon-arrow.svg');
        position: absolute;
        top: 9px;
        right: 0;
      }
    }
  }
// --------------------------------------------

// footer & prefooter blocks
// --------------------------------------------
  .block--call-to-action {
    
    .block-with-links__body {
      position: relative;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p,
      h2 {
        display: inline-flex;
      }

      &:before,
      &:after {
        content: '';
        background-image: url('../images/bg/bracket.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 123px;
        position: absolute;
        top: -2rem;
        right: -3rem;

        @include mq-max(md){
          right: 0rem;
          display: none;
        }
      }

      &:after {
        right: unset;
        left: -3rem;
        transform: rotate(-180deg);

        @include mq-max(md){
          left: 0;
        }
      }
    }
  }

  footer {

    .block {
      flex-basis: 25%;
      flex: 1;
      text-align: left;

      h2 {
        @include fontSize(25px);
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &:after {
          content: "";
          width: 50px;
          height: 4px;
          background-color: #2ae8a9;
          margin: 1rem 0;
        }
      }

      p {
        margin-bottom: 0.2rem;
      }

      @include mq-max(lg) {
        flex: unset;
        flex-basis: 50%;
        margin-bottom: 2rem;
      }

      @include mq-max(sm) {
        flex-basis: 100%;
      }
    }
  }

  .block--footer-statistics {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 0 0 ;

    .footer-logo {
      margin-bottom: 8rem;

      @include mq-max(sm) {
        margin-right: auto;
      }
    }

    .block--content {
      display: flex;
      @include mq-max(sm) {
        margin-right: auto;
      }
    }

    .image__field-media-image {
      margin-left: 1rem;
    }

    h2 {

      &:after {
        display: none;
      }
    }
  }

  .block--atlaattmas {
    
    @include mq-max(lg) {
      text-align: right !important;

      h2 {
        align-items: flex-start !important;
      }
    }

    @include mq-max(md) {
      text-align: left !important;

      h2 {
        align-items: flex-end !important;
      }
    }
  }

  .block--certificates {
    margin-top: 1rem;
  }

  .block--footermenu {

    .nav {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .nav-link {
      padding: 0.5rem 0;
      color: $body-color;
      transition: all .25s ease-in-out;
      
      &:hover {
        color: $blue;
        margin-left: .3rem;
      }
    }
  }
// --------------------------------------------

