{#
/**
 * @file
 * Template for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<form{{ attributes }}>
  <div class="add-title">
    <h3>
      {% trans %}
        Add your comment
      {% endtrans %}
    </h3>
  </div>
  {{ children }}
</form>
