// Bootstrap
// -----------------------------------------------------------------------------
@import "~bootstrap/scss/functions";
@import "base/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/print";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";

// Base
// -----------------------------------------------------------------------------
@import "base/mixins";
@import "base/functions";
@import "base/helpers";
@import "base/elements";
@import "base/typography";

// Layout
// -----------------------------------------------------------------------------
@import "layout/page.header";
@import "layout/page.content";
@import "layout/page.footer";

// Component
// -----------------------------------------------------------------------------
@import "../components/node/node";
@import "../components/navbar/navbar";

// Other
// -----------------------------------------------------------------------------
@import "block/block";
@import "paragraph/paragraph";
@import "content/node.page";
@import "content/node.article";


// general styles

// adjust admin sections in farsi
// -----------------------------------
  #toolbar-administration, 
  #toolbar-administration * {

    body.fa & {
      text-align: right;
      font-family: $font-family-base;
    }
  }

  ::selection {
    background: $blue;
    color: $white;
  }
  ::-moz-selection {
    background: $blue;
    color: $white;
  }

  [dir="rtl"] .toolbar-tray-horizontal ul li li.menu-item {
    
    body.fa & {
      border: none;
    }
  }

  .quickedit .icon-pencil,
  .ui-widget.ui-widget-content,
  .ui-dialog .ui-dialog-buttonpane,
  .ui-dialog .ui-dialog-buttonpane button,
  .contextual-region .contextual .contextual-links a, 
  .contextual-region .contextual .contextual-links a:hover {

    body.fa & {
      font-family: $font-family-base;
      text-align: right;
    }
  }

  .img-thumbnail {
    border: none;
    border-radius: 0;
    background: none;
  }

  body.fa {
    direction: rtl;
    text-align: right;
  }

  img.img-thumbnail {
    padding: 0;
  }

  .dots path#Path {
    opacity: 0;
  }

  span.ext {
    display: none;
  }

  .share-post {

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      opacity: 0.4;

      .social-share-icon {
        display: flex;
        width: 20px;
        height: 20px;
        background-image: url('../images/icons/icon-telegram.svg');
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 0.5rem;
  
        &.twitter {
          background-image: url('../images/icons/icon-twitter.svg');
        }
        
        &.facebook {
          background-image: url('../images/icons/icon-facebook.svg');
        }
      }
    }
  }

  .btn-primary {
    padding: 0.6rem 3rem;
    font-size: 1.15rem;
    transition: all 0.35s cubic-bezier(.2,.66,0,1.02);

    &:hover {
      background-color: $blue;
      border-color: $blue;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
  }

  .ui-widget {
    font-family: $font-family-base;
  }

  a {

    &:hover {
      text-decoration: none;
    }
  }

  .page-title-blog {
    margin-bottom: 3rem;
    // font-size: 4rem;

    span {
      font-weight: 300;
    }
  }


  //responsive
  .container {
    @include mq(xxl) {
      max-width: 1440px;
    }
  }
  
// -----------------------------------


// front page styles
// -----------------------------------
  .hero {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    
    @include mq-max(sm) {
      margin-top: -78px;
    }

    .container-fluid {
      display: flex;
      align-items: center;

      @include mq-max(md){
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        position: relative;
      }
    }

    &.hero--about {
      height: auto;

      .container-fluid {
        padding: 0;
        margin: 0;
      }

      @include mq-max(sm) {
        margin-top: 1rem;
      }
    }

    &-front {
      flex-direction: column;
      margin-bottom: 7rem;

      .container-fluid {
        margin-top: auto;
      }

      .content-first {
        position: relative;
        z-index: 9;
      }

      &:after {
        content: '';
        background-image: url('../images/bg/bg-front-main.svg');
        background-size: 50%;
        background-position: right top;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -90%;
        right: 0;
      }
    }
  }

  .page-front {

    @include mq-max(md) {
      background: none;

      .hero {

        .container-fluid {
          margin-bottom: 20%;
          justify-content: center;
        }
      }
    }
  }
  
  .front-page-main {
    background-image: url('../images/bg/bg-front-page-blog post.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 20%;

    .content-third {

      .block--block-icon-text {

        img {

          @include mq-max(lg) {
            max-width: 25px;
            margin-left: 1rem;
          }
        }
      }
    }

    .content-sixth {
      padding-top: 5rem;
      padding-bottom: 5rem;
      background-repeat: no-repeat;
      background-position: left bottom;
    }
  }

  .content-first {
    margin-top: 1rem;
    margin-bottom: 5rem; 
    padding: 3rem 0;

    @include mq-max(lg) {
      margin-bottom: 1rem;
    }

    &-front {
      margin-top: 8%;
      margin-bottom: 0;
      padding-bottom: 1rem;
    }
  }

  .content-second {
    display: flex;
    align-items: center;

    &.content-second-front {
      padding-bottom: 8rem;
      background-image: url('../images/bg/wave-bot.svg');
      background-size: 30%;
      background-position: left bottom;
      background-repeat: no-repeat;

      .block {
        flex-basis: 50%;
        width: 50%;

        @include mq-max(lg) {
          flex-basis: 100%;
          width: 100%;
        }
  
        &.block--push-front,
        &.block--analyst {
          padding-right: 2rem;

          @include mq-max(sm) {
            padding-right: 0;
          }
        }
  
        &.block--beananalystimage,
        &.block--talking-app {
          padding-left: 2rem;

          @include mq-max(sm) {
            padding-left: 0;
          }
        }
      }

      @include mq-max(lg) {
        padding-bottom: 5rem;
      }
    }

    .container {
      display: flex;
      align-items: center;
      position: relative;
      overflow: visible;
      flex-wrap: wrap;
    }
    
    .bg-image {
      background-image: url('../images/bg/mobile.png');
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 540px;
      position: absolute;
      top: 0;

      @include mq-max(xl) {
        left: 0;
      }

      @include mq-max(lg) {
        height: 550px;
        align-self: center;
        justify-self: center;
        background-position: center;
        position: relative;
        order: 2;
      }

      @include mq-max(sm) {
        height: 630px;
        background-size: 530px;
      }
    }
  }

  .content-third {
    padding: 3rem 0;

    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      background-image: url('../images/bg/oval.svg');
      background-repeat: no-repeat;
      background-position: right top;
      background-size: 10%;

      .block--block-with-links {
        min-width: 100%;
      }
    }
  }

  .content-fourth-front {
    background-color: $bg;

    .container {
      display: flex;
      flex-wrap: wrap;
      padding: 5rem 0;
      justify-content: space-between;
      align-items: center;
    }


    .block--block-with-links {
      width: 100%;
    }

    .block--platform {
      flex-basis: 32%;
    }
  }

  .content-fifth-front {
    background-image: url('../images/bg/two-shape.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    .block {
      flex-basis: 49%;
      width: 49%;
      
      &.block--numbers-talking {
        flex-basis: 51%;
        width: 51%;

        @include mq-max(sm) {
          flex-basis: 100%;
          width: 100%;
          margin-bottom: 3rem;
        }
      }
    }

    @include mq-max(sm) {
      margin-bottom: 0 !important; 
    }
  }
  
  .content-fifth {
    padding: 6rem 0;
    margin-bottom: 6rem;

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
// -----------------------------------

// inner pages
// -----------------------------------
  .blog__main {
    padding-top: 7rem;
  }

  .separator {
    background-color: $dark-blue;
    padding: 6rem 0;
    color: $white;

    .container {
      display: flex;
      align-items: center;

      @include mq-max(sm) {
        flex-direction: column;
      }
    }

    &.separator-product {
      background-image: url('../images/bg/door.svg');
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: right bottom;
      padding: 10rem 0;

      .container {
        flex-direction: column;
      }

      .block--block-with-paragraph {
        width: 100%;
      }

      @include mq(xxl) {
        background-size: 74%;
      }

      @include mq-max(ld) {
        padding: 7rem 0;

        .block--block-with-links {

          h2 {
            font-size: 2rem;
          }
        }
      }

      @include mq-max(lg) {
        background-image: none;
      }
    }

    .block {
      padding-left: 35%;

      @include mq-max(lg) {
        padding-left: 0;
      }
    }

    .block--m  {
      width: 30%;

      @include mq-max(sm) {
        width: 70%;
        margin-bottom: 3rem;
      }
    }

    .block-with-paragraph__body {

      h2 {
        @include fontSize(41px);
      }
    }

    .block-with-paragraph__field-paragraph {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

      @include mq-max(sm) {
        flex-direction: column;
      }
    }

    .paragraph--type--feature {

      .top {
        flex-direction: row-reverse;
      }
    }

    .feature__field-image {
      margin-left: 0;
      margin-right: 1rem;
      max-width: 30px;
    }

    .feature__field-plain-text {
      @include fontSize(25px);
      font-weight: bold;
    }

    .btn {
      background-color: transparent !important;
      border: solid 1px $white !important;

      a {
        background-color: transparent !important;
      }
    }
    
  }

  // about page
  .main--about {

    .content-first {
      margin-top: 2rem;
      margin-bottom: 0;
      padding-bottom: 0;

      .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @include mq-max(md) {
          flex-direction: column;
        }

        .block--wearein {

          @include mq-max(lg) {
            order: 1;
          }
        }

        .block--aboutpagefirstimage {

          @include mq-max(lg) {
            order: 2;
          }
        }

        .block--growthimage {

          @include mq-max(lg) {
            order: 4;
          }
        }

        .block--onthepathtogrowth {

          @include mq-max(lg) {
            order: 3;
          }
        }

        .block {
          margin-bottom: 6rem;

          &:nth-child(3),
          &:nth-child(4) {

            @include mq-max(xl) {
              margin-bottom: 6rem;
            }
          }
        }

        .block--block-with-links {
          flex: 1;
          flex-basis: 60%;
          padding-left: 4rem;  

          &:nth-last-child(1) {
            padding-left: 0;  
            padding-right: 4rem;  

            @include mq-max(sm) {
              padding-right: 0; 
            }
          }

          @include mq-max(sm) {
            flex-basis: 100%;
            padding-left: 0; 
          }
        }

        .block--m {
          flex-basis: 40%;

          img {
            @include mq-max(md) {
              max-width: 400px;
            }
          }

          @include mq-max(sm){
            img {
              max-width: 100%;
            }
          }
        }

      }

      @include mq-max(ld) {
        margin-bottom: 0;
        padding-bottom: 1rem;
      }

      @include mq-max(sm) {
        margin-top: 2rem;
      }
    }

    .content-third-fourth {
      background-image: url('../images/bg/bg-timeline.svg');
      background-size: contain;
      background-position: left top;
      background-repeat: no-repeat;
      padding: 4rem 0;  

      @include mq-max(md) {
        padding: 0;  
      }
    }

    .content-third {
      padding-bottom: 3rem;
      
      @include mq-max(md) {
        padding-bottom: 3rem;
      }

      .block--block-with-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include greenLine;
      }
    }
    
    .content-fourth {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;

      .block {
        margin-bottom: 2%;

        &:before {
          display: none;
        }
      }

      .block--interaction,
      .block--quality {
        flex-basis: 56%;

        @include mq-max(lg) {
          flex-basis: 55%;
        }

        @include mq-max(sm) {
          flex-basis: 100%;
        }
      }

      .block--integrity,
      .block--learning {
        flex-basis: 42%;

        @include mq-max(sm) {
          flex-basis: 100%;
        }
      }
    }

    .content-fifth {
      background-image: url('../images/bg/bg-staff.svg');
      background-repeat: no-repeat;
      background-position: left top;
    }

    .content-sixth {
      background-color: $bg;
      padding: 5rem 0;

      .container {
        display: flex;
        justify-content: space-around;
        
        @include mq-max(sm) {
          flex-wrap: wrap;
        }

        >div {
          flex-basis: 30%;
          display: flex;
          flex-direction: column;

          @include mq-max(lg) {
            flex-basis: 40%;
          }

          @include mq-max(sm) {
            flex-basis: 100%;
            margin-bottom: 3rem;
          }
        }

        .block--block-with-links {
          margin-bottom: 3rem;
          margin-top: 20px;
        }

        .block--m {
          margin-top: 3rem; 
        }
      }
    }
  }

  // product page
  .main--product {

    .content-first {
      background-color: $bg;
    }

    .content-third {
      background-image: url('../images/bg/bg-you_can.svg');
      background-repeat: no-repeat;
      background-position: left top;

      .container {
        display: flex;
        justify-content: space-between;
      }

      .block--m {
        max-width: 50%;


        @include mq-max(md) {
          flex-basis: 100%;
          margin-bottom: 4rem;
          text-align: center;

          img {
            max-width: 400px;
          }
        }

        @include mq-max(sm){
          max-width: 100%;

          img {
            max-width: 100%;
          }
        }
      }
    }

    .content-fourth {
      padding: 5rem 0;
      background-image: url('../images/bg/bg-analytics.png');
      background-repeat: no-repeat;
      background-position: right bottom;

      >.container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
      }

      .block {
        width: 35%;

        &:nth-child(2) {
          margin-top: 4rem;
        }

        @include mq-max(lg) {
          width: 45%;
        }

        @include mq-max(md) {
          width: 48%;
        }

        @include mq-max(md) {
          width: 95%;
        }
      }
    }

    .content-fifth {
      background-image: url('../images/bg/big-wave-product.svg');
      background-position: left top;
      background-size: contain;
      background-repeat: no-repeat;
      overflow: hidden;
      margin-bottom: 0;

      @include mq(xxl) {
        background-size: contain;
        padding-bottom: 10rem;
      }

      @include mq-max(sm) {
        padding-bottom: 0 !important;
      }
   
      .container {
        display: flex;
        flex-wrap: wrap;
        position: static;
      }

      .block {
        flex-basis: 50%;
        width: 50%;
        margin-bottom: 15rem;

        &:nth-last-child(1),
        &:nth-last-child(2) {
          margin-bottom: 4rem;
        }

        @include mq-max(md) {
          flex-basis: 100%;
          width: 100%;
          margin-bottom: 4rem;
        }
      }

      .block--m  {

        @include mq-max(md) {
          text-align: center;

          img {
            max-width: 400px;
          }
        }

        @include mq-max(sm){
          img {
            max-width: 100%;
          }
        }
      }
    }

  }
  
  // pushe plus page
  .main--pushe-plus {

    .content-first {
      background-color: $bg;
      padding: 8rem 0;
      margin-bottom: 0;

      @include mq-max(sm){
        padding: 4rem 0;
      }

      .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }

      .block {
        flex-basis: 50%;
        width: 50%;
        
        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: 7rem;
        }

        @include mq-max(sm){
          flex-basis: 100%;
          width: 100%;
          margin-bottom: 7rem;
        }
      }

      .block--block-with-paragraph {
        
        &:nth-child(1) {
          padding-left: 4rem;
          position: relative;

          @include mq-max(sm){
            padding-left: 0rem;
          }

          &:after {
            content: '...';
            display: block;
            writing-mode: vertical-lr;
            font-size: 4rem;
            color: $green;
            position: absolute;
            left: -2rem;
            bottom: -6.5rem;
            letter-spacing: 5px;

            @include mq-max(sm){
              display: none;
            }
          }
        }

        &:nth-last-child(1) {
          padding-right: 4rem;

          @include mq-max(sm){
            padding-right: 0rem;
          }
        }
      }
    }

    .content-second {
      padding-top: 8rem;
      background-image: url('../images/bg/bg_trends.svg');
      background-repeat: no-repeat;
      background-position: left top;
      
      .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }

      .block {
        flex-basis: 50%;
        width: 50%;
        margin-bottom: 7rem;

        @include mq-max(md) {
          flex-basis: 100%;
          width: 100%;
        }
      }

      .block--m {
        padding: 0 2rem 2rem 2rem;
        text-align: center;

        @include mq-max(md){
          img {
            max-width: 400px;
          }
        }

        @include mq-max(sm){
          img {
            max-width: 100%;
          }
        }
      }
    }

    .separator {

      .block {
        padding: 0;
      }

      .block--block-with-links {
        margin-right: 4rem;

        @include mq-max(sm) {
          margin-right: 0rem;
        }
      }
    }

    .content-third {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 7rem 0;
      background-image: url('../images/bg/mid-wave.svg');
      background-repeat: no-repeat;
      background-position: left top;

      .block--m {
        flex-basis: 50%;

        @include mq-max(ld) {
          flex-basis: 50%;
          padding: 3rem;
        }

        @include mq-max(md) {
          flex-basis: 100%;
          margin-bottom: 4rem;
          text-align: center;

          img {
            max-width: 400px;
          }
        }

        @include mq-max(sm){
          img {
            max-width: 100%;
          }
        }
      }

      .block--block-feature {
        @include mq-max(ld) {
          flex-basis: 50%;
        }

        @include mq-max(md) {
          flex-basis: 100%;
        }
      }

      .block--ausefulpushe {
        margin-top: 10rem;
        margin-bottom: 2rem;
        width: 100%;
      }
    }

    .content-fourth {
      background-color: $bg;
    }

    .content-fifth {
      @include mq-max(md) {
        margin-bottom: 0 !important;
      }

      .block {
        flex-basis: 50%;

        @include mq-max(md) {
          flex-basis: 100%;
        }
      }
    }
  }

  // pricing page
  .main--pricing {

    .page__content {
      padding: 5rem 0;
      background-color: #fafafa;

      .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .block {
          flex-basis: 30%;

          @include mq-max(md) {
            flex-basis: 100%;
          }
        }

        .block--pushe-local-actions {
          width: 100%;
          flex-basis: 100%;
        }
      }
    }
  }

  .pricing-title {
    margin-top: 10rem;
    text-align: center;
    margin-bottom: 6rem;

    h1 {
      @include fontSize(65px);
    }
  }

  // page FAQ 
  .main--faq {
    margin-top: 5rem;
  }


// -----------------------------------

// footer & prefooter
// -----------------------------------
  .pre-footer {
    background-color: $blue;
    padding: 8rem 0;
    color: $white;  
  }

  footer {
    background-image: url('../images/bg/footer.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-top: 8rem;

    @include mq(xxl) {
      background-size: contain;
    }

    @include mq(sm) {
      padding-top: 4rem;
    }

    .container {
      position: relative;

      >div.d-flex {
        padding-bottom: 4rem;
        position: relative;
      }
    }

    .footer-bot {
      display: flex;
      align-items: center;
      border-top: solid 1px #D8D8D8;
      justify-content: space-between;
      padding: 1.5rem 0;

      @include mq-max(sm) {
        flex-direction: column-reverse;

        copyright {
          margin-top: 2rem;
        }
      }
    }

    .social {
     display: flex; 
     align-items: center;
    }

    .social-icon {
      display: flex;
    }

    .icon {
      width: 25px;
      height: 25px;
      background-image: url('../images/icons/icon-stackoverflow.svg');
      background-repeat: no-repeat;
      background-size: contain;
      margin: 0 1rem;

      &.icon-telegram {
        background-image: url('../images/icons/icon-telegram.svg');
      }

      &.icon-twitter {
        background-image: url('../images/icons/icon-twitter.svg');
      }
      
      &.icon-github {
        background-image: url('../images/icons/icon-github.svg');
      }

      &.icon-linkedin {
        background-image: url('../images/icons/icon-linkedin.svg');
      }
      
      &.icon-instagram {
        background-image: url('../images/icons/icon-instagram.svg');
      }
    }
  }
// -----------------------------------


// admin styles
// -----------------------------------
  .adminimal-admin-toolbar {
    
    nav.navbar {
      top: 79px !important;

    }
  }
// -----------------------------------


.alert-danger {
  display: none; 
}