{#
/**
 * @file
 * Template for a Block component.
 *
 * Available config:
 * - html_tag: The HTML tag for the block.
 * - utility_classes: An array of utility classes.
 */
#}
{% set classes = [
  'block',
  bundle ? 'block--' ~ bundle|clean_class,
  id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
]|merge(utility_classes ? utility_classes : []) %}

{% if html_tag %}
  <{{ html_tag }}{{ attributes|without('id').addClass(classes) }}>
{% endif %}

  {{ title_prefix }}
  {% if label %}
    {% block label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endblock %}
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    <div class="block-content">
      <div class="number">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 169 169" style="enable-background:new 0 0 169 169;" xml:space="preserve">
        <style type="text/css">
          .st0-precent{opacity:0.5909;fill:none;stroke:#2AE8A9;stroke-width:10;enable-background:new    ;}
          .st1-precent{fill:none;stroke:#0065FF;stroke-width:15;}
        </style>
        <g id="Page-1">
          <g id="Desktop-HD" transform="translate(-765.000000, -5967.000000)">
            <g id="CTA" transform="translate(119.000000, 5966.000000)">
              <circle id="green" class="st0-precent" cx="730.5" cy="85.5" r="77"/>
              <circle id="blue" class="st1-precent" cx="730.5" cy="85.5" r="77"/>
            </g>
          </g>
        </g>
        </svg>
        {{ content.field_plain_text }}
      </div>
      {{ content.body }}
    </div>
  {% endblock %}

{% if html_tag %}
  </{{ html_tag }}>
{% endif %}