{#
/**
 * @file
 * Template for a Block component.
 *
 * Available config:
 * - html_tag: The HTML tag for the block.
 * - utility_classes: An array of utility classes.
 */
#}
{% set classes = [
  'block',
  bundle ? 'block--' ~ bundle|clean_class,
  id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
]|merge(utility_classes ? utility_classes : []) %}

{% if html_tag %}
  <{{ html_tag }}{{ attributes|without('id').addClass(classes) }}>
{% endif %}

  {{ title_prefix }}
  {% if label %}
    {% block label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endblock %}
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    <div class="footer-logo">
      <a href="{{ url('<front>') }}" class="logo-footer">
        <img src="{{ url('<front>')|render ~ directory }}/icon-logo.svg" alt="Pushe Farsi logo">
      </a>
    </div>
    <div class="block--content">
      {{ content }}
    </div>
  {% endblock %}

{% if html_tag %}
  </{{ html_tag }}>
{% endif %}
