{#
/**
 * @file
 * Template for a Block component.
 *
 * Available config:
 * - html_tag: The HTML tag for the block.
 * - utility_classes: An array of utility classes.
 */
#}
{% set classes = [
  'block',
  bundle ? 'block--' ~ bundle|clean_class,
  id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
  (render_var(content.field_direction.0))|replace({" ": "-"})|clean_class ,
]|merge(utility_classes ? utility_classes : []) %}

{% if html_tag %}
  <{{ html_tag }}{{ attributes|without('id').addClass(classes) }}>
{% endif %}

  {{ title_prefix }}
  {% if label %}
    {% block label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endblock %}
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {{ content.body }}
    {% if content.field_button.0 %}
      <div class="buttons">
        <div class="{{ content.field_button_color.0 }} btn btn-primary">{{ content.field_button.0 }}</div>
        {% if content.field_button.1 %}
          <div class="second-button">  
            {{ content.field_button.1 }}
          </div>
        {% endif %}
      </div>
    {% endif %}

  {% endblock %}

{% if html_tag %}
  </div html_tag }}>
{% endif %}
