.navbar {

  .form-inline {

    .form-actions {
      display: none;
    }
  }

  @include mq-max(md) {
    padding: 1.5rem;
  }
}

.toolbar-oriented .toolbar-bar {
  z-index: 1200;
}

.toolbar-horizontal {

  .toolbar-menu {

    &.nav {
      float: left;
    }
  }
}

.navbar-toggler {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  padding: 2px !important;
  
  .icon-bar {
    width: 35px;
    height: 3px;
    background-color: $blue;
    display: flex;
    transform-origin: top left;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) , background-color 1.1s ease-in-out;;
  }

  .bottom-bar {
    transform-origin: bottom left;
  }

  .middle-bar {
    opacity: 1;
  }

  &.active {

    .top-bar {
      transform: rotate(45deg) translateX(-1px);
    }

    .middle-bar {
      opacity: 0;
    }

    .bottom-bar {
      transform: rotate(-45deg) translateX(-3px);
    }
  }

  &.dark {

    .icon-bar {
      background-color: $black;
    }
  }

  &:focus {
    outline: none;
  }
}

.navbar-collapse {

  &.show {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@keyframes fadeTop {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.navbar {

  .nav-item {
  
    @include mq-max (md) {
      opacity: 0;
      transform: translateY(-10%);
    }
  }
  
  .show .nav-item {
  
    @include mq-max (md) {
      animation: fadeTop .4s ease-in-out forwards;
    
      @for $i from 1 through 7 {
        &:nth-child(#{$i}) {
          animation-delay: $i * .1s;
        }
      }
    }
  }
}