{#
/**
 * @file
 * Template for Navbar brand component.
 *
 * Available config:
 * - text: the text to use for the brand.
 * - path: the path for the link. Leave blank for no link.
 * - image:
 *   - src: The source of the image
 *   - width: The width of the image
 *   - height: The height of the image
 * - utility_classes: An array of utility classes.
 */
#}
{% import _self as navbar_brand %}
{% set utility_classes = utility_classes|join(' ') %}

{% include directory ~ '/templates/partials/logo.html.twig' %}

{% macro image(src) %}
  <img src="{{ src }}" class="logo" alt="pushe logo" id="logo" />
{% endmacro %}
