{#
/**
 * @file
 * Template for Navbar component.
 *
 * Available config:
 * - container: fixed | fluid.
 * - placement: default | fixed-top | fixed-bottom | sticky-top
 * - color: light | dark
 * - utility_classes: An array of utility classes.
 *
 * Available blocks:
 * - branding
 * - left
 * - right
 */
#}
{{ attach_library('radix/navbar') }}

{% set container = container == 'fixed' ? 'container' : false %}
{% set placement = placement ?? '' %}
{% set color = color ?? 'light' %}
{% set utility_classes = utility_classes|join('red') %}

<nav class="navbar navbar-expand-lg justify-content-between navbar-{{ color }} {{ placement }} {{ utility_classes }}">
  <div class="container">
  
  {% block branding %}
    {{ page.navbar_branding }}
    <div class="logo-addon">
      {% trans %}
        Blog
      {% endtrans %}
    </div>
  {% endblock %}
  
  <h6 class="navbar--node-title">{{ node.label }}</h6>

  {# social share icons #}  
  {% include directory ~ '/templates/partials/share-social.html.twig' %}


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
  </button>

  <div class="collapse navbar-collapse">
    {% block left %}
      {{ left }}
    {% endblock %}

    {% block right %}
      {{ right }}
    {% endblock %}
  </div>

  {% if container %}
    </div>
  {% endif %}
  <div class="indicator"></div>
</nav>
