{#
/**
 * @file
 * Template for a comment.
 */
#}
<article{{ attributes.addClass('js-comment') }}>
  {#
    Hide the "new" indicator by default, let a piece of JavaScript ask the
    server which comments are new for the user. Rendering the final "new"
    indicator here would break the render cache.
  #}
  <mark class="hidden" data-comment-timestamp="{{ new_indicator_timestamp }}"></mark>

  <div class="row">
    <div class="comment--body">
      <div class="comment-top">
        <span>{{ submitted }}</span>
        {{ user_picture }}
      </div>  
      <div class="comment-bottom">
        {% if title %}
          {{ title_prefix }}
            <h3{{ title_attributes.addClass('visually-hidden') }}>{{ title }}</h3>
          {{ title_suffix }}
        {% endif %}
        {{ content }}
      </div>
    </div>
  </div>

  <div class="comment--links">
    {% if parent %}
      <p class="visually-hidden">{{ parent }}</p>
    {% endif %}
  </div>

</article>
