{#
/**
 * @file
 * Template for a Node.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {% if not page %}
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}

    <div{{ content_attributes }}>
      <div class="article--top-section">
        <div class="article--title">
          <h1>{{ label }}</h1>
        </div>
        {% if content.field_images.0 %}
          <div class="article--image">
            {{ content.field_images.0 }}
          </div>
        {% endif %}   
        <div class="top-section--details">
          <div class="author-date">
            <img src="{{ url('<front>')|render ~ directory }}/assets/images/pushe-icon.svg" alt="Pushe Farsi logo">
            <div class="author-name">
              {% trans %}
                By Pushe Team, on
              {% endtrans %}
            </div>
            <div class="date">
              {{ date }}
            </div>
          </div>

          <div class="social-share">

            {# social share icons #}
            {% include directory ~ '/templates/partials/share-social.html.twig' %}
          </div>
        </div>
      </div>
      
      <div class="article--main-section">
        {% if header %}
          <header class="page__header mb-3">
            <div class="container">
              {{ header }}
            </div>
          </header>
        {% endif %}
          
        <div class="article--body">
          {{ content.body }}
        </div>

        {% if content.field_tags.0 %}
          <div class="article--tags">
            {{ content.field_tags }}
          </div>
        {% endif %}

        <div class="article--comments">
          {{ content.comment }}
        </div>

      </div>


    {% if content.field_content_reference.0 %}
      <div class="article--botton-section">
        <div class="related--title">
          <h1>
            <strong>
              {% trans %}
                Keep reading:
              {% endtrans %}
            </strong>
            {% trans %}
              Related article 
            {% endtrans %}
            {{ label }}
          </h1>
        </div>
        <div class="article--related">
          {{ content.field_content_reference }}
        </div>
      </div>
    {% endif %}

    </div>
  {% endblock %}
</article>
