{#
/**
 * @file
 * Template for the comment field.
 */
#}
<section{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {{ comments }}

  {% if comment_form %}
    <div class="row">
      {{ comment_form }}
    </div>
  {% endif %}

</section>
