 {% if page.prefooter %}
    <div class="pre-footer">
      <div class="container">
        {{ page.prefooter }}
      </div>
    </div>
  {% endif %}

  {% if page.footer %}
    <footer class="page__footer">
      <div class="container">
        <div class="d-flex justify-content-md-between align-items-md-start">
          {{ page.footer }}
        </div>
        <div class="footer-bot">
          <copyright>
            تمـامی حقـوق نـزد [پوشـه] محفـوظ است  
          </copyright>
          <div class="social-media">
            {% include directory ~ '/templates/partials/social-media.html.twig' %}
          </div>
        </div>
      </div>
    </footer>
  {% endif %}