<a href="{{ url('<front>') }}" class="logo">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 204.3 33.9" style="enable-background:new 0 0 204.3 33.9;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#231F20;}
	.st1{fill:#0065FF;}
</style>
<title>Pushe</title>
<g id="Layer_3">
	<g class="fa-typo">
		<path class="st0" d="M123.7,14.7v-11H92.3v17.4h25.1v12.7h6.3V21h24.2v-6.3H123.7z M98.6,14.8V10h18.8v4.8L98.6,14.8z"/>
		<polygon class="st0" points="147.9,33.8 141.6,33.8 141.6,30.6 127.8,30.6 127.8,24.3 147.9,24.3 		"/>
		<polygon class="st0" points="84.9,0.9 84.9,0.1 78.6,0.1 78.6,3.7 64.8,3.7 64.8,10 64.8,10 64.8,10.1 84.9,10.1 84.9,0.9 		"/>
		<polygon class="st0" points="31.6,14.7 31.6,3.7 0.2,3.7 0.2,21.1 20.4,21.1 20.4,14.8 6.5,14.8 6.5,10 25.3,10 25.4,21 84.9,21 
			84.9,14.7 		"/>
	</g>
	<g class="en-typo">
		<path d="M0,28.6h1.5c0.9-0.1,1.8,0.6,1.8,1.6S2.7,31.9,1.8,32c-0.1,0-0.2,0-0.3,0H0.3v1.7H0V28.6z M0.3,28.8v2.9h1.2
			c0.8,0.1,1.5-0.5,1.6-1.3s-0.5-1.5-1.3-1.6c-0.1,0-0.2,0-0.3,0H0.3z"/>
		<path d="M5.3,32.2v-2h0.2v2c-0.1,0.7,0.5,1.3,1.2,1.4c0.1,0,0.1,0,0.2,0c0.7,0,1.4-0.6,1.4-1.3c0,0,0,0,0,0v-2h0.2v3.5H8.3v-0.8
			c-0.2,0.6-0.8,0.9-1.4,0.9c-0.8,0.1-1.5-0.6-1.6-1.4C5.3,32.3,5.3,32.2,5.3,32.2z"/>
		<path d="M10.3,33.1l0.2-0.2c0.3,0.4,0.7,0.6,1.1,0.6c0.7,0,1-0.4,1-0.8s-0.5-0.6-1.1-0.8s-1.1-0.3-1.1-0.9s0.5-0.9,1.2-0.9
			c0.4,0,0.9,0.2,1.2,0.5l-0.2,0.1c-0.3-0.3-0.6-0.4-1-0.4c-0.6,0-0.9,0.3-0.9,0.7s0.5,0.6,1,0.7s1.2,0.3,1.2,1s-0.4,1-1.3,1
			C11.1,33.8,10.6,33.5,10.3,33.1z"/>
		<path d="M14.9,28.6h0.2V31c0.4-0.8,1.3-1.1,2.1-0.8c0.6,0.3,1,0.9,0.9,1.5v2h-0.2v-2c0.1-0.7-0.5-1.3-1.2-1.4c-0.1,0-0.1,0-0.2,0
			c-0.8,0-1.4,0.6-1.4,1.3c0,0,0,0,0,0v2h-0.2L14.9,28.6z"/>
		<path d="M25.8,28.6h0.3l3.6,4.7v-4.7h0.3v5.1h-0.3L26.1,29v4.7h-0.3V28.6z"/>
		<path d="M31.9,32c0-1,0.8-1.8,1.8-1.8c1,0,1.8,0.8,1.8,1.8c0,1-0.8,1.8-1.8,1.8C32.7,33.8,31.9,33,31.9,32
			C31.9,32,31.9,32,31.9,32z M35.2,32c0-0.9-0.7-1.5-1.6-1.5c-0.9,0-1.5,0.7-1.5,1.6c0,0.9,0.7,1.5,1.6,1.5
			C34.6,33.6,35.3,32.9,35.2,32C35.3,32,35.3,32,35.2,32z"/>
		<path d="M37,30.2h0.6v-0.8l0.2-0.2v1h1v0.2h-1v2.1c0,0.8,0.2,1,1,1v0.2l0,0c-0.9,0-1.2-0.2-1.2-1.2v-2.1H37V30.2z"/>
		<path d="M40.7,28.6h0.3v1h-0.3V28.6z M40.7,30.2h0.3v3.5h-0.3V30.2z"/>
		<path d="M42.7,30.2h0.6v-0.4c0-1,0.3-1.2,1.2-1.2l0,0v0.2c-0.8,0-1,0.1-1,1v0.4h1v0.2h-1v3.2h-0.2v-3.3h-0.6V30.2z"/>
		<path d="M46.4,28.6h0.3v1h-0.3V28.6z M46.4,30.2h0.3v3.5h-0.3V30.2z"/>
		<path d="M48.5,32c0-1,0.8-1.8,1.8-1.8c0.7,0,1.4,0.4,1.7,1.1l-0.2,0.1c-0.2-0.6-0.8-1-1.4-1c-0.9,0.1-1.5,0.8-1.5,1.7
			c0.1,0.8,0.7,1.4,1.5,1.5c0.6,0,1.2-0.4,1.4-1l0.2,0.1c-0.3,0.7-0.9,1.1-1.7,1.1C49.3,33.8,48.5,33,48.5,32z"/>
		<path d="M53.8,32c0-1,0.8-1.8,1.8-1.8c0,0,0,0,0,0c0.7,0,1.3,0.4,1.5,1v-1h0.3v3.5h-0.3v-0.9c-0.3,0.6-0.9,1-1.5,1
			C54.6,33.8,53.8,33,53.8,32z M57.1,32c0-0.9-0.7-1.5-1.6-1.5c-0.9,0-1.5,0.7-1.5,1.6c0,0.8,0.7,1.5,1.5,1.5
			C56.4,33.6,57.1,32.9,57.1,32C57.1,32,57.1,32,57.1,32z"/>
		<path d="M59.1,30.2h0.6v-0.8l0.2-0.2v1h1v0.2h-1v2.1c0,0.8,0.2,1,1,1v0.2l0,0c-0.9,0-1.2-0.2-1.2-1.2v-2.1h-0.6L59.1,30.2z"/>
		<path d="M62.8,28.6h0.3v1h-0.3V28.6z M62.8,30.2h0.3v3.5h-0.3V30.2z"/>
		<path d="M65,32c0-1,0.8-1.8,1.8-1.8s1.8,0.8,1.8,1.8c0,1-0.8,1.8-1.8,1.8l0,0C65.8,33.8,65,33,65,32C65,32,65,32,65,32z M68.4,32
			c0-0.9-0.7-1.5-1.6-1.5c-0.9,0-1.5,0.7-1.5,1.6c0,0.9,0.7,1.5,1.6,1.5C67.7,33.6,68.4,32.9,68.4,32C68.4,32,68.3,32,68.4,32
			L68.4,32z"/>
		<path d="M70.5,30.2h0.2V31c0.4-0.8,1.3-1.1,2.1-0.7c0.6,0.3,0.9,0.8,0.9,1.5v2h-0.3v-2c0.1-0.7-0.5-1.3-1.2-1.4
			c-0.1,0-0.1,0-0.2,0c-0.7,0-1.4,0.6-1.4,1.3c0,0,0,0,0,0.1v2h-0.3V30.2z"/>
		<path d="M81.2,33l0.2-0.2c0.3,0.4,0.8,0.7,1.4,0.7c0.7,0.1,1.3-0.4,1.4-1.1c0,0,0-0.1,0-0.1c0-0.8-0.7-1-1.3-1.2s-1.4-0.5-1.4-1.4
			c0-0.7,0.7-1.3,1.4-1.3c0,0,0.1,0,0.1,0c0.6,0,1.1,0.2,1.4,0.6l-0.2,0.1c-0.3-0.4-0.8-0.6-1.2-0.5c-0.6-0.1-1.1,0.4-1.2,1
			c0,0,0,0,0,0c0,0.7,0.7,0.9,1.3,1.1s1.4,0.5,1.4,1.4c0,0.8-0.7,1.5-1.5,1.4c0,0-0.1,0-0.1,0C82.2,33.7,81.6,33.5,81.2,33z"/>
		<path d="M86.3,32c0-1,0.8-1.8,1.8-1.8c0,0,0,0,0.1,0c1,0,1.8,0.7,1.8,1.7c0,0,0,0.1,0,0.1v0h-3.3c0,0.8,0.7,1.5,1.5,1.5
			c0,0,0,0,0.1,0c0.7,0,1.2-0.4,1.5-1l0.2,0.1c-0.2,0.7-0.9,1.2-1.7,1.2c-1,0.1-1.8-0.7-1.8-1.6C86.3,32.1,86.3,32,86.3,32z
			 M86.6,31.9h3.1c0-0.8-0.7-1.5-1.5-1.5c0,0,0,0,0,0C87.3,30.4,86.6,31,86.6,31.9L86.6,31.9z"/>
		<path d="M91.8,30.2h0.2v0.9c0.2-0.6,0.7-0.9,1.3-0.9h0.2v0.2h-0.2c-0.7,0-1.3,0.5-1.3,1.2c0,0.1,0,0.1,0,0.2v1.8h-0.3V30.2z"/>
		<path d="M95.3,30.2h0.3l1.2,3.2l1.2-3.2h0.3l-1.4,3.5h-0.3L95.3,30.2z"/>
		<path d="M100.1,28.6h0.3v1h-0.3V28.6z M100.1,30.2h0.3v3.5h-0.3V30.2z"/>
		<path d="M102.3,32c0-1,0.8-1.8,1.8-1.8c0.7,0,1.4,0.4,1.7,1.1l-0.2,0.1c-0.2-0.6-0.8-1-1.4-1c-0.9,0.1-1.5,0.8-1.5,1.7
			c0.1,0.8,0.7,1.4,1.5,1.5c0.6,0,1.2-0.4,1.4-1l0.2,0.1c-0.3,0.7-0.9,1.1-1.7,1.1C103.1,33.8,102.3,33,102.3,32z"/>
		<path d="M107.5,32c0-1,0.8-1.8,1.8-1.8c0,0,0,0,0.1,0c1,0,1.8,0.7,1.8,1.7c0,0,0,0.1,0,0.1v0h-3.3c0,0.8,0.7,1.5,1.5,1.5
			c0,0,0.1,0,0.1,0c0.7,0,1.2-0.4,1.5-1l0.2,0.1c-0.2,0.7-0.9,1.2-1.7,1.2c-1,0.1-1.8-0.7-1.8-1.6C107.5,32.1,107.5,32,107.5,32z
			 M107.8,31.9h3.1c0-0.8-0.7-1.5-1.5-1.5c0,0,0,0,0,0C108.5,30.4,107.8,31,107.8,31.9L107.8,31.9z"/>
	</g>
	<g>
		<polygon class="st1" points="204.3,0 184.1,0 184.1,0.2 184.1,0.2 184.1,6.5 198,6.5 198,10 204.3,10 204.3,9.6 204.3,9.6 		"/>
		<rect x="198" y="15.9" class="st1" width="6.3" height="14.7"/>
	</g>
	<polyline class="st1 move-to-left" points="198,30.6 198,24.3 198,24.3 165.2,24.3 165.2,6.3 177.8,6.3 177.8,0 158.9,0 158.9,21.5 158.9,33.9 
		163.6,30.6 	"/>
	<g class="slogan">
			<path class="st2" d="M17.8,9.9h3c2.3,0,3.8,1.5,3.8,3.4s-1.5,3.4-3.8,3.4h-2.5v3.4h-0.5V9.9z M18.3,10.4v5.9h2.4     c2,0,3.2-1.3,3.2-3c0-1.7-1.2-2.9-3.2-2.9H18.3z"/>
			<path class="st2" d="M26.8,17v-3.9h0.5v4c0,1.7,1,2.7,2.7,2.7c1.5,0,2.8-1.2,2.8-2.7v-4h0.5v7h-0.5v-1.7c-0.4,1-1.5,1.8-2.8,1.8     C28,20.2,26.8,19,26.8,17z"/>
			<path class="st2" d="M35.2,19l0.4-0.3c0.5,0.7,1.3,1.1,2.3,1.1c1.4,0,2-0.7,2-1.6c0-1-1.1-1.2-2.1-1.5c-1.1-0.3-2.3-0.7-2.3-1.9     c0-1,0.9-1.8,2.3-1.8c1,0,1.8,0.3,2.4,1l-0.4,0.3c-0.5-0.5-1.1-0.8-2-0.8c-1.1,0-1.8,0.6-1.8,1.4c0,0.9,1,1.2,2,1.5     c1.2,0.3,2.4,0.6,2.4,1.9c0,1-0.8,2.1-2.6,2.1C36.8,20.2,35.8,19.7,35.2,19z"/>
			<path class="st2" d="M42.8,9.9h0.5v4.8c0.4-1,1.5-1.8,2.8-1.8c1.9,0,3.2,1.2,3.2,3.2v3.9h-0.5v-3.9c0-1.7-1-2.7-2.7-2.7     c-1.5,0-2.8,1.2-2.8,2.7v3.9h-0.5V9.9z"/>
			<path class="st2" d="M56,9.9h0.6l7.1,9.4V9.9h0.5v10.2h-0.5l-7.2-9.4v9.4H56V9.9z"/>
			<path class="st2" d="M66.5,16.6c0-2,1.6-3.6,3.6-3.6c2,0,3.6,1.6,3.6,3.6c0,2-1.6,3.6-3.6,3.6C68.1,20.2,66.5,18.6,66.5,16.6z      M73.3,16.6c0-1.8-1.4-3.2-3.1-3.2S67,14.8,67,16.6c0,1.8,1.4,3.2,3.1,3.2S73.3,18.3,73.3,16.6z"/>
			<path class="st2" d="M75.1,13.1h1.2v-1.6l0.5-0.4v2h1.9v0.5h-1.9v4.1c0,1.7,0.4,2,1.9,2v0.5h-0.1c-1.9,0-2.4-0.5-2.4-2.4v-4.1     h-1.2V13.1z"/>
			<path class="st2" d="M81,9.9h0.5v2.1H81V9.9z M81,13.1h0.5v7H81V13.1z"/>
			<path class="st2" d="M83.5,13.1h1.2v-0.8c0-1.9,0.5-2.4,2.4-2.4h0.1v0.5c-1.6,0-1.9,0.3-1.9,1.9v0.8h1.9v0.5h-1.9v6.5h-0.5v-6.5     h-1.2V13.1z"/>
			<path class="st2" d="M89.2,9.9h0.5v2.1h-0.5V9.9z M89.2,13.1h0.5v7h-0.5V13.1z"/>
			<path class="st2" d="M92,16.6c0-2,1.6-3.6,3.7-3.6c1.5,0,2.8,0.9,3.3,2.2l-0.5,0.2c-0.5-1.1-1.5-1.9-2.8-1.9     c-1.8,0-3.1,1.4-3.1,3.2c0,1.8,1.4,3.2,3.1,3.2c1.3,0,2.4-0.8,2.9-1.9L99,18c-0.6,1.3-1.8,2.2-3.4,2.2C93.6,20.2,92,18.6,92,16.6     z"/>
			<path class="st2" d="M100.9,16.6c0-2,1.6-3.6,3.6-3.6c1.3,0,2.6,0.7,3.1,2v-1.9h0.5v7h-0.5v-1.9c-0.5,1.3-1.8,2-3.1,2     C102.5,20.2,100.9,18.6,100.9,16.6z M107.7,16.6c0-1.8-1.4-3.2-3.1-3.2c-1.7,0-3.1,1.4-3.1,3.2c0,1.8,1.4,3.2,3.1,3.2     C106.3,19.8,107.7,18.3,107.7,16.6z"/>
			<path class="st2" d="M110.1,13.1h1.2v-1.6l0.5-0.4v2h1.9v0.5h-1.9v4.1c0,1.7,0.4,2,1.9,2v0.5h-0.1c-1.9,0-2.4-0.5-2.4-2.4v-4.1     h-1.2V13.1z"/>
			<path class="st2" d="M115.9,9.9h0.5v2.1h-0.5V9.9z M115.9,13.1h0.5v7h-0.5V13.1z"/>
			<path class="st2" d="M118.7,16.6c0-2,1.6-3.6,3.6-3.6c2,0,3.6,1.6,3.6,3.6c0,2-1.6,3.6-3.6,3.6C120.3,20.2,118.7,18.6,118.7,16.6     z M125.4,16.6c0-1.8-1.4-3.2-3.1-3.2s-3.1,1.4-3.1,3.2c0,1.8,1.4,3.2,3.1,3.2S125.4,18.3,125.4,16.6z"/>
			<path class="st2" d="M128.2,13.1h0.5v1.6c0.4-1,1.5-1.8,2.8-1.8c1.9,0,3.2,1.2,3.2,3.2v3.9h-0.5v-3.9c0-1.7-1-2.7-2.7-2.7     c-1.5,0-2.7,1.2-2.7,2.7v3.9h-0.5V13.1z"/>
			<path class="st2" d="M140.8,18.8l0.4-0.3c0.6,0.8,1.6,1.3,2.8,1.3c1.5,0,2.7-0.9,2.7-2.4c0-1.5-1.3-2-2.7-2.4     c-1.4-0.5-2.9-1-2.9-2.7c0-1.5,1.3-2.5,2.9-2.5c1.3,0,2.2,0.5,2.9,1.3l-0.4,0.3c-0.5-0.7-1.3-1.1-2.5-1.1c-1.3,0-2.4,0.8-2.4,2     c0,1.5,1.3,1.8,2.7,2.3c1.4,0.5,2.9,1,2.9,2.8c0,1.7-1.4,2.9-3.2,2.9C142.6,20.2,141.5,19.6,140.8,18.8z"/>
			<path class="st2" d="M149.4,16.6c0-2,1.6-3.7,3.6-3.7s3.6,1.5,3.6,3.6v0.2h-6.7c0.1,1.7,1.3,3,3.2,3c1.4,0,2.4-0.8,2.9-2.1     l0.4,0.2c-0.6,1.5-1.7,2.3-3.4,2.3C150.8,20.2,149.4,18.6,149.4,16.6z M149.9,16.3h6.2c-0.1-1.7-1.3-2.9-3.1-2.9     C151.3,13.4,150.1,14.7,149.9,16.3z"/>
			<path class="st2" d="M158.9,13.1h0.5v1.8c0.4-1.1,1.3-1.8,2.6-1.8h0.4v0.5H162c-1.6,0-2.6,1.1-2.6,2.8v3.7h-0.5V13.1z"/>
			<path class="st2" d="M164.2,13.1h0.6l2.5,6.3l2.5-6.3h0.6l-2.8,7H167L164.2,13.1z"/>
			<path class="st2" d="M172.3,9.9h0.5v2.1h-0.5V9.9z M172.3,13.1h0.5v7h-0.5V13.1z"/>
			<path class="st2" d="M175.1,16.6c0-2,1.6-3.6,3.7-3.6c1.5,0,2.8,0.9,3.3,2.2l-0.5,0.2c-0.5-1.1-1.5-1.9-2.8-1.9     c-1.8,0-3.1,1.4-3.1,3.2c0,1.8,1.4,3.2,3.1,3.2c1.3,0,2.4-0.8,2.9-1.9l0.5,0.2c-0.6,1.3-1.8,2.2-3.4,2.2     C176.7,20.2,175.1,18.6,175.1,16.6z"/>
			<path class="st2" d="M184,16.6c0-2,1.6-3.7,3.6-3.7s3.6,1.5,3.6,3.6v0.2h-6.7c0.1,1.7,1.3,3,3.2,3c1.4,0,2.4-0.8,2.9-2.1l0.4,0.2     c-0.6,1.5-1.7,2.3-3.4,2.3C185.4,20.2,184,18.6,184,16.6z M184.5,16.3h6.2c-0.1-1.7-1.3-2.9-3.1-2.9     C186,13.4,184.7,14.7,184.5,16.3z"/>
	</g>
</g>
<g>
</g>
</svg>
</a>