<div class="share-post">
	<ul>
		<li><a data-placement="right" title="اشتـراک در فیس‌بوک" href="https://www.facebook.com/sharer.php?u={{ baseURL ~ url }}" target="_blank" class="social-share-icon facebook" data-toggle="tooltip"><div data-icon="ei-sc-facebook"></div></a></li>
		<li><a data-placement="right" title="اشتـراک در توئیتر" href="https://twitter.com/intent/tweet?url={{ baseURL ~ url }}:%0A%0A &text={{ node.label }}:%0A%0A &via=pushe&hashtags=پوشه :%0A%0A http://pushe.co{{ url }}" target="_blank" class="social-share-icon twitter" data-toggle="tooltip"><div data-icon="ei-sc-twitter"></div></a></li>
		<li><a data-placement="right" title="اشتـراک مطلب در تلگـرام" href="https://telegram.me/share/url?url={{ baseURL ~ url }}&text={{ node.label }}" target="_blank" class="social-share-icon telegram" data-toggle="tooltip"><div data-icon="ei-sc-telegram"></div></a></li>
	</ul>
</div>