{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">
   {# navbar iclude #}
  {% include directory ~ '/templates/partials/navbar.html.twig' %}

  {% if page.hero %}
    <section class="hero">
      <div class="container-fluid">
        {{ page.hero }}
      </div>
    </section>
  {% endif %}

  <main class="main--pushe-plus">
    {% if page.header %}
      <header class="page__header mb-3">
        <div class="container">
          {{ page.header }}
        </div>
      </header>
    {% endif %}
    
    {% if page.content_first %}
      <div class="content-first">
        <div class="container">
          {{ page.content_first }}
        </div>
      </div>
    {% endif %}

    {% if page.content_second %}
      <div class="content-second">
        <div class="container">
          {{ page.content_second }}
        </div>
      </div>
    {% endif %}

    {% if page.separator %}
      <div class="separator">
        <div class="container">
          {{ page.separator }}
        </div>
      </div>
    {% endif %}

    {% if page.content_third %}
      <div class="content-third">
        <div class="container">
          {{ page.content_third }}
        </div>
      </div>
    {% endif %}
  
    {% if page.content_fourth %}
      <div class="content-fourth">
        <div class="container">
          {{ page.content_fourth }}
        </div>
      </div>
    {% endif %}

    {% if page.content_fifth %}
      <div class="content-fifth">
        <div class="container">
          {{ page.content_fifth }}
        </div>
      </div>
    {% endif %}

    {% if page.content %}
      <div class="page__content">
        <div class="container">
          {{ page.content }}
        </div>
      </div>
    {% endif %}
  </main>

  {# footer iclude #}
  {% include directory ~ '/templates/partials/footer.html.twig' %}  
  
</div>
