{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">
   {# navbar iclude #}
  {% include directory ~ '/templates/partials/navbar.html.twig' %}

  <main class="pt-5 pb-5">
    {% if page.header %}
      <header class="page__header mb-3">
        <div class="container">
          {{ page.header }}
        </div>
      </header>
    {% endif %}

    {% if page.content %}
      <div class="page__content">
        <div class="container">
          {{ page.content }}
        </div>
      </div>
    {% endif %}
  </main>

  {# footer iclude #}
  {% include directory ~ '/templates/partials/footer.html.twig' %}  
  
</div>
