{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">
  {# navbar iclude #}
  {% include directory ~ '/templates/partials/navbar-blog.html.twig' %}



  <main class="main--article">
    {% if page.content %}
      <div class="page__content">
        <div class="container">
          {{ page.content }}
        </div>
      </div>
    {% endif %}
  </main>

  {# footer iclude #}
  {% include directory ~ '/templates/partials/footer.html.twig' %}
</div>
