{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page page-front">

  {# navbar iclude #}
  {% include directory ~ '/templates/partials/navbar.html.twig' %}

  {% if page.header %}
    <section class="hero hero-front">
      <div class="container-fluid">
        {{ page.hero }}
      </div>
      
    {% if page.content_first %}
      <div class="content-first content-first-front">
        <div class="container">
          {{ page.content_first }}
        </div>
      </div>
    {% endif %}
    </section>
    <header class="page__header mb-3">
      <div class="container">
        {{ page.header }}
      </div>
    </header>
  {% endif %}

  <main class="main front-page-main">

    {% if page.content_second %}
      <div class="content-second content-second-front">
        <div class="container">
          <div class="bg-image"></div>
          {{ page.content_second }}
        </div>
      </div>
    {% endif %}

    <div class="content-third">
      <div class="container">
        {% if page.content_third %}
          {{ page.content_third }}
        {% endif %}
      </div>
    </div>

    <div class="content-fourth content-fourth-front">
      <div class="container">
        {% if page.content_fourth %}
          {{ page.content_fourth }}
        {% endif %}
      </div>
    </div>

    {% if page.content_fifth %}
      <div class="content-fifth content-fifth-front">
        <div class="container">
          {{ page.content_fifth }}
        </div>
      </div>
    {% endif %}

    {% if page.content_sixth %}
      <div class="content-sixth">
        <div class="container">
          {{ page.content_sixth }}
        </div>
      </div>
    {% endif %}

  </main>

  {# footer iclude #}
  {% include directory ~ '/templates/partials/footer.html.twig' %}


</div>
