{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">
   {# navbar iclude #}
  {% include directory ~ '/templates/partials/navbar.html.twig' %}

  <main class="main--pricing">

    <div class="pricing-title">
      <h1>{{ page['#title'] }}</h1>
    </div>

    {% if page.content %}
      <div class="page__content">
        <div class="container">
          {% if page.header %}
            <header class="page__header mb-3">
              <div class="container">
                {{ page.header }}
              </div>
            </header>
          {% endif %}
          {{ page.content }}
        </div>
      </div>
    {% endif %}
    <div class="pricing-detail">
      <div class="container">
        {{ page.content_first }}
      </div>
    </div>
  </main>

  {# footer iclude #}
  {% include directory ~ '/templates/partials/footer.html.twig' %}  
  
</div>
