{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">
  {# navbar iclude #}
  {% include directory ~ '/templates/partials/navbar.html.twig' %}

  <main class="blog__main">
    {% if page.header %}
      <header class="page__header mb-3">
        <div class="container">
          {{ page.header }}
        </div>
      </header>
    {% endif %}

    {% if page.content %}
      <div class="page__content with-sidebar">
        <div class="container">
          <div class="main-content">
            <h1 class="page-title-blog">
              {{ page['#title'] }}
            </h1>
            {{ page.content }}
          </div>
          <div class="sidebar">
            {{ page.sidebar }}
          </div>
        </div>
      </div>
    {% endif %}
  </main>

  {# navbar iclude #}
  {% include directory ~ '/templates/partials/footer.html.twig' %}
</div>
