// Page: Header
// -----------------------------------------------------------------------------

.navbar {
  background-color: $white;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;

  >.container-fluid {
    display: flex;

    .block--mainnavigation {
      margin-left: auto;

      @include mq-max(md) {
        margin: 0 auto;
      }
    }
  }

  .nav-item {
    margin: 0 0.5rem;

    a {
      color: $body-color;

      @include mq-max(md) {
        font-size: 1.8rem;
        margin-bottom: 2rem;
        text-align: center;
      }

      @include mq-max(sm) {
        font-size: 1.3rem;
        margin-bottom: 2rem;
        text-align: center;
      }
    }

    &:not(.special-item) {
  
      a {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {

        a {
          color: $blue;

          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}

.navbar-nav {
  @include mq-max(sm) {
    padding: 0;
  }
}


// special item
li.special-item {
  position: relative;
  
  a {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    position: relative;
    z-index: 2;
    transition: all 0.3s cubic-bezier(.2,.66,0,1.02); 

    &:after {
      content: '+';
      font-size: 1.6rem;
      line-height: 1.6rem;
      width: 23px;
      height: 19px;
      color: $blue;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0px;
      top: 0px;
      font-size: 1.3rem;
    }

    &.active {

      a {
        color: $black !important;

        &:after {
          opacity: 0;
        }
      }

      &:after {
        background-color: transparent;
        transform: rotate(360deg);
        font-size: 1.3rem;
      }
    }
  }
}

// logo animation
a.logo {

  svg {
    width: 170px;

    #Layer_3 {
      position: relative;
    }

  

    g,
    .move-to-left {
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      opacity: 1;
    }

    g.slogan {
      opacity: 0;
      transition: all 0.3s;
    }

    &:hover {

      .fa-typo {
        transform: translateX(-100%);
        opacity: 0;
      }
      .en-typo {
        transform: translateX(-100%);
        opacity: 0;
      }

      .move-to-left {
        transform: translateX(-78%);
      }

      .slogan {
        opacity: 1;
      }
    }
  }
}

// headroom menu 
.headroom {
  will-change: transform;
  transition: all 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);

  body.page-node-23 & {
    transform: translateY(-100%);
  }
}

.headroom--top {

  body.page-node-23 & {
    transform: translateY(0%);
  }
}

.headroom--unpinned {
  transform: translateY(-100%);
}

.headroom--not-top {
  background-color: $white;
  box-shadow: 0 0 5px #e2e2e2;
}

.block--useraccountmenu {

  .nav-link {
    background-color: $blue;
    color: $white !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    border-radius: 5px;
    transition: all 0.25s ease;

    &:hover {
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
  }

  @include mq-max(md) {
    display: none;
  }
}

.indicator {
  width: 0;
  height: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $green;
}
