// Page: Content
// -----------------------------------------------------------------------------
.page__content {

  // pages with side bar
  &.with-sidebar{

    .container {
      display: flex;
      flex-wrap: wrap;  

      @include mq-max(md){
        flex-direction: column;
      }
    }

    .main-content {
      flex-basis: 70%;
    }

    .sidebar {
      flex-basis: 30%;
    }
  }
}

// blog page
.view__blog--page {
  padding-left: 3rem;
  padding-bottom: 4rem;
  
  @include mq-max(sm) {
    padding-left: 0;
    padding-bottom: 4rem;
  }
  .views-row {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    flex: 1;
    width: 100%;
    margin-bottom: 2rem;
    transition: opacity .42s cubic-bezier(.165,.84,.44,1);

    .extra {
      display: block;
      transition: opacity .42s cubic-bezier(.165,.84,.44,1);
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      &:before {
        content: '';
        display: block;
        width: calc(100% + 2rem);
        height: calc(100% + 3px);
        content: "";
        position: absolute;
        left: -1rem;
        top: -1px;
        background-color: #fff;
      }

      @include mq-max(sm) {
        display: none;
      }

    }

    &:hover {
      z-index: 2;
  
      .extra {
        opacity: 1;

        &:after {

        }
  
        &:before {
          box-shadow: 0 0 40px rgba(0, 101, 255, 0.12);
        }
      }
    }
  }

  .layout__region--content {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    width: 100%;
    z-index: 3;

    @include mq-max(sm) {
      flex-direction: column;
    }

    .left {

      @include mq-max(sm) {
        padding: 1rem;
      }
    }
  }
  
  .article__field-images {
    margin-left: 1rem;

    a {
      display: flex;
      min-width: 128px;
    }

    @include mq-max(sm) {
      margin-left: 0;
    }
  }

  .article__node-title {
    margin-bottom: 1rem;
    
    a {
      color: $body-color;
      font-size: 1.1rem;

      &:hover {
        text-decoration: none;
        color: $dark-blue;
      }
    }
  }
}

